<% unless @squads.blank? %>
  <label class="field_prompt" for="squad">班级:</label>
  <% if @has_default_squad.present? %>
    <%= select_tag "squad_id", options_for_select((@squads.collect{|s|[s.name,s.id]} || []), :selected => @has_default_squad), :class => "select span2", :name => "student_info[squad_id]", :style => "margin-left: 120px;"  %>
  <% else %>
    <%= select_tag "squad_id", options_for_select((@squads.collect{|s|[s.name,s.id]} || [])), :class => "select span2", :name => "student_info[squad_id]", :style => "margin-left: 120px;"  %>
  <% end %>
<% else %>
<br />
<div class="controls">
  <label>没有班级,请先创建班级,才能继续操作</label>
</div>
<% end %>
