<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>评估管理</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
        </li>
      </ul>
    </div>
    <div class="work_list">
      <%if @evaluates.blank? || @evaluates.evaluate_entries.blank? %>
        <%=render "new_form"%>
      <%else%>
        <%=render "list_evaluates"%>
      <%end%>
    </div>
  </div>

</div>
