<div class="food">
  <div class="food_div">
    <div class="food_info">
      <img src="/weiyi/address.png" alt="地址"/>
      <label>深圳南山区后海中心路<br/>宝能太古城颐安阅海3G</label>
    </div>
    <div class="food_info">
      <img src="/weiyi/call.png" alt="服务电话"/>
      <label>Call<br/>
      4000-915-985</label>
    </div>
    <div class="food_info">
      <img src="/weiyi/email.png" alt="Email"/>
      <label>Contact<br/>
      service@weiyizixun.com</label>
    </div>
    <div class="food_info">
      <img src="/weiyi/c.png" alt="Company"/>
      <label>@2013 by weiyizixun.<br/>
      All Rights Reserved<br/>
      粤ICP备12027356号-2
      </label>
      <br/>
    </div>
  </div>
  
</div>