<div class="weiyi_left">
  <div class="weiyi_title">
    行业首创微信教育平台，<label class="big_label">5</label>大亮点&nbsp; <label class="big_label">10</label>大模块，率先体验移动互联时代<br/>
    <label class="weiyi_title_e">
      The "weiyiyuanxuntong",5 hightlights 10 major modules
    </label>
    <hr/>
  </div>
</div>
<div class="weiyi_right">
  <div class="right_div">
    <label class="right_title">业务资讯请致电或邮件联系</label>
    <label class="right_info">4000-915-985<img src="/weiyi/callme.jpg" alt="400电话"/></label>
  </div>
  <div class="right_div">
    <label class="right_title">在线资讯①QQ</label>
    <label class="right_info">5112765
      <a target="_blank" href="http://wpa.qq.com/msgrd?V=1&Uin=5112765&Site=http://www.weiyizixun.com&Menu=yes"><img border="0" SRC="http://wpa.qq.com/pa?p=1:5112765:6" alt="点击这里给我发消息" align="absmiddle"/></a>
    </label>
  </div>
  <div class="right_div">
    <label class="right_title">在线资讯②QQ</label><%#③④⑤%>
    <label class="right_info">402327732
      <a target="_blank" href="http://wpa.qq.com/msgrd?V=1&Uin=402327732&Site=http://www.weiyizixun.com&Menu=yes"><img border="0" SRC="http://wpa.qq.com/pa?p=1:402327732:6" alt="点击这里给我发消息" align="absmiddle"/></a>
    </label>
  </div>
  <div class="right_div">
    <label class="right_title">E-mail</label>
    <label class="right_info">service@weiyizixun.com</label>
  </div>
</div>