<div class="weiyi_left">
  <%= @web_weiyi_interact.blank? ? "" : raw(@web_weiyi_interact.content)  %>
</div>
<div class="weiyi_right">
  <div class="right_div">
    <label class="right_title">业务资讯请致电或邮件联系</label>
    <label class="right_info">4000-915-985<img src="/weiyi/callme.jpg" alt="400电话"/></label>
  </div>
  <div class="right_div">
    <label class="right_title">在线资讯①QQ</label>
    <label class="right_info">1098832288
      <a target="_blank" href="http://wpa.qq.com/msgrd?V=1&Uin=1098832288&Site=http://www.weiyizixun.com&Menu=yes">
        <img src="/weiyi/qq.jpg" alt="点击这里给我发消息"/>
      </a>
    </label>
  </div>
  <div class="right_div">
    <label class="right_title">E-mail</label>
    <label class="right_info">service@weiyizixun.com</label>
  </div>
</div>