<div class="weiyi_left">
  <div class="weiyi_title">
    行业首创微信教育平台，<label class="big_label">5</label>大亮点&nbsp; <label class="big_label">10</label>大模块，率先体验移动互联时代<br/>
    <label class="weiyi_title_e">
      The "weiyiyuanxuntong",5 hightlights 10 major modules
    </label>
    <hr/>
  </div>
  <div class="weiyi_center_info">
    <div class="conter_info">
      <div class="icon-system">
      </div>
      <div class="conter_info_right">
        <label class="info_title">
          系统管理
        </label>
        <label class="info_label">提供幼儿园介绍、形象管理和教职工权限的灵活管理。幼儿园根据目录自身需要，定制本园系统信息安全策略。</label>
      </div>
    </div>
    <div class="conter_info">
      <div class="icon-user">
      </div>
      <div class="conter_info_right">
        <label class="info_title">
          人员管理
        </label>
        <label class="info_label">由幼儿园管理员进行班级年级管理，教职工人员管理以及学生学籍管理。同时提供幼儿园学生登记信息向省市区教育系统上传备案的一键操作功能。</label>
      </div>
    </div>
    <div class="conter_info">
      <div class="icon-notice">
      </div>
      <div class="conter_info_right">
        <label class="info_title">
          通知公告
        </label>
        <label class="info_label">老师与家长直接收发信息，幼儿园发布园内通知以及发布对外幼儿园官网新闻。</label>
      </div>
    </div>
    <div class="conter_info">
      <div class="icon-topic">
      </div>
      <div class="conter_info_right">
        <label class="info_title">
          信息论坛
        </label>
        <label class="info_label">以宝宝教学内容/兴趣点为主线，老师引导，家长参与的双引擎互动平台。</label>
      </div>
    </div>
    <div class="conter_info">
      <div class="icon-coobook">
      </div>
      <div class="conter_info_right">
        <label class="info_title">
          饮食保健
        </label>
        <label class="info_label">对宝宝在幼儿园餐饮和健康状况的全面管理。</label>
      </div>
    </div>
    <div class="conter_info">
      <div class="icon-growth">
      </div>
      <div class="conter_info_right">
        <label class="info_title">
          成长记录
        </label>
        <label class="info_label">图文并茂记录和点评孩子在幼儿园成长点滴，收集宝宝在家里的妙文趣事。</label>
      </div>
    </div>
    <div class="conter_info">
      <div class="icon-albums">
      </div>
      <div class="conter_info_right">
        <label class="info_title">
          照片集锦
        </label>
        <label class="info_label">以活动为主题，时间为主线个人和班级照片集锦。</label>
      </div>
    </div>
    <div class="conter_info">
      <div class="icon-activities">
      </div>
      <div class="conter_info_right">
        <label class="info_title">
          活动信息
        </label>
        <label class="info_label">老师和家长互动的活动征集，发布，组织，准备，回顾等。</label>
      </div>
    </div>
    <div class="conter_info">
      <div class="icon-statistics">
      </div>
      <div class="conter_info_right">
        <label class="info_title">
          统计
        </label>
        <label class="info_label">记录老师工作，宝宝兴趣以及信息量等内容，方便园方管理。</label>
      </div>
    </div>
    <div class="conter_info">
      <div class="icon-approve">
      </div>
      <div class="conter_info_right">
        <label class="info_title">
          审核
        </label>
        <label class="info_label">信息内容与安全管理，由幼儿园管理团队全面掌控。</label>
      </div>
    </div>
  </div>
</div>
<div class="weiyi_right">
  <div class="right_div">
    <label class="right_title">业务资讯请致电或邮件联系</label>
    <label class="right_info">4000-915-985<img src="/weiyi/callme.jpg" alt="400电话"/></label>
  </div>
  <div class="right_div">
    <label class="right_title">在线资讯①QQ</label>
    <label class="right_info">2761758530
      <a target="_blank" href="http://wpa.qq.com/msgrd?V=1&Uin=2761758530&Site=http://www.weiyizixun.com&Menu=yes">
        <img src="/weiyi/qq.jpg" alt="点击这里给我发消息"/>
      </a>
    </label>
  </div>
  <div class="right_div">
    <label class="right_title">在线资讯②QQ</label>
    <label class="right_info">1098832288
      <a target="_blank" href="http://wpa.qq.com/msgrd?V=1&Uin=1098832288&Site=http://www.weiyizixun.com&Menu=yes">
        <img src="/weiyi/qq.jpg" alt="点击这里给我发消息"/>
      </a>
    </label>
  </div>
  <div class="right_div">
    <label class="right_title">E-mail</label>
    <label class="right_info">service@weiyizixun.com</label>
  </div>
</div>