<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    消息通知
  </div>
  <div class="message_filter">
    按时间 按状态
  </div>
  <div class="message_list">
    <ul>
      <li>
        <div><label class="message_user">发件人:管理员</label><label class="message_time">2013-6-17 10:30</label></div>
        <div class="message_content">测试测试测试</div>
      </li>
      <li>
        <div><label class="message_user">发件人:管理员</label><label class="message_time">2013-6-17 10:30</label></div>
        <div class="message_content">测试测试测试</div>
      </li>
      <li>
        <div><label class="message_user">发件人:管理员</label><label class="message_time">2013-6-17 10:30</label></div>
        <div class="message_content">测试测试测试</div>
      </li>
    </ul>
  </div>
  <div class="message_more">
    <div class="show_div"></div>
    <label>显示更多消息</label>
  </div>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>

