<% unless @add_credit.blank? %>
  <div id="integral_flash" class="integral_flash" style="display: none;">
    <p>积分 <span id="integral" class="integral">+<%=@add_credit || 1%></span></p>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      var flash = $("#integral_flash").hide().fadeIn("slow");
      setTimeout(function() {
        flash.fadeOut(function(){
          $(this).remove();
        });
      }, 5000);
    })
  </script>
<% end %>
