<div class="tab">
  <% if @data && @data[:tp]== :all %>
    <ul class="tab-hd"><li>选择群组</li><li>选择个人</li></ul>
    <ul class="tab-bd">
      <li>
        <div class="rangs_tag">
          <div class="check_rangs"><input type="radio" name="rangs" value="0" id="rangs_0"/><label for="rangs_0" >全园学生</label></div>
          <div class="check_rangs"><input type="radio" name="rangs" value="1" id="rangs_1"/><label for="rangs_1" >全园教职工</label></div>
          <div class="check_rangs"><input type="radio" name="rangs" value="2" id="rangs_2"/><label for="rangs_2" >全园教职工学生</label></div>
          <div class="check_rangs"><input type="radio" name="rangs" value="3" id="rangs_3"/><label for="rangs_3" >全园年级</label></div>
          <div class="check_rangs"><input type="radio" name="rangs" value="4" id="rangs_4"/><label for="rangs_4" >全园班级</label></div>
          <div class="check_rangs"><input type="radio" name="rangs" value="5" id="rangs_5"/><label for="rangs_5" >全园职务</label></div>
          <div id="show_resource">
          </div>
        </div>
      </li>
      <li>
        <div class="rangs_tag">
          <div class="check_rangs"><input type="radio" name="rangs_users" value="0" id="rangs_users_0"/><label for="rangs_users_0" >学生</label></div>
          <div class="check_rangs"><input type="radio" name="rangs_users" value="1" id="rangs_users_1"/><label for="rangs_users_1" >教职工</label></div>
        </div>
      </li>
    </ul>
  <% end %>
</div>