<div class="search_form">
  <%= form_tag '/my_school/messages' , :method=>"get" do %>
    <b>阅读状态：</b>
    <%= select_tag("messages[message_entries_read_status_equals]", options_for_select([["全部",""],["已读",1],["未读",0]],(params[:messages].blank? ? "" : params[:messages][:message_entries_read_status_equals])),:style=>"width:100px;margin-top: 10px;") %>
    <%= submit_tag "搜索", :class => "btn btn-primary"%>
  <%end%>
</div>
