<% @data.each do |k,v| %>
  <div class="users_tp">
    <% if k == 1 %>
      <label>教职工</label>
    <% elsif k == 0 %>
      <label>学员</label>
    <% else %>
      <label>管理员</label>
    <% end %>
    <% v.each do |user|%>
      <div class="message_user">
        <label><%=  user.name%></label>
        <input name="ids[]" value="<%=user.id%>" type="hidden" class="<%=user.is_receive ? 'sms' : ''%>"/>
      </div>
    <% end %>
  </div>
<% end %>
