<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
  <div class="weixin_ad">
    <img src="/t/colorful/small_publicity.jpg"  alt="广告"/>
  </div>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>

<%= render :partial => "/modules/colorful/weixin_menu_one"%>

