<style type="text/css">
  .picture_div img {width:expression(this.width>450?"450px": this.width+"px");}
</style>
<div class="wrapper">
  <div class="picture_header NavWrapper">
    <div class="picture_div ">
      <img src="/assets/no_img.png" style="max-width:450px;max-height: 200px;" ></img>
    </div>
  </div>
</div>
<div class="ring" id="vote_form" style="position: relative;">
  <div class="pin vote" style="top:0px;"></div>
  <p class="one"></p>
  <p class="two"> </p>
  <p class="three"> </p>
  <div class="overall form_label_hight">
    <div class="text_center vote_title">
      您需要从微信公共账户进入注册页面
    </div>
  </div>
</div>