<% if @message.present? %>
    alert("dddd");
  if ( $("#staff_user_attributes_phone").parent().find(".validate_success_icon").length > 0 ) {
    $("#staff_user_attributes_phone").parent().find(".validate_success_icon").remove();
  }
  $("<i class='validate_icon validate_error_icon'></i><span class='help-inline'><%= @message %></span>").appendTo($("staff_user_attributes_phone").parent());
<% end %>
