<%#= render :partial => "/modules/colorful/show_official_feature" %>
<div class="feature">
  <ul class="feature_list">
    <% (@content_entries || []).each do |entry| %>
      <li>
        <% if entry.page_img %>
          <div class="box_feat_img">
            <img src="<%= entry.page_img.public_filename %>" alt="" />
          </div>
        <%else%>
          <div class="box_feat_img">
            <img src="/t/colorful/HOME_entry_default.png" alt=""/>
          </div>
        <%end%>
        <div class="box_feat_info">
          <div class="box_feat_title">
            <h3 style="color:#65AB3A;"><%= entry.title%></h3>
          </div>
          <div class="box_feat_content">
            <span title="<%=entry.content%>">
              <%=truncate(entry.content, :length => 72)%></span>
          </div>
        </div>
      </li>
    <%end%>
  </ul>
</div>
