<div class="control-group"  id="group_appurtenance_file">
      <%=label_tag :avatar, '上传附件:' ,:class=>"control-label"%>
    <%(@topic.appurtenances || []).each do |app|%>
    <div class="controls" >
      <div class="appurtenance_file">
        <p><%=link_to app.file_name,app.avatar_url,:class=>"blue"%>
          <%=link_to "删除","###",:class=>"blue"%>
        </p>
     </div>
    </div>
    <%end%>
    <%if @topic.appurtenances && @topic.appurtenances.size < 5%>
    <div class="controls" id="appurtenance_avatar">
      <div class="appurtenance_file">
      <%= file_field_tag("appurtenance[][avatar]") %>
     </div>
      <p>您上传的附件不能超过5M</p>
    </div>
    <div class="controls" id="a_appurtenance_arry">
    <a class="blue">继续添加</a>
  </div>
  <%end%>
</div>
<script type="text/javascript">
$(function(){
  $("#a_appurtenance_arry a").click(function(){
   if ($("#group_appurtenance_file .controls").size()>5){
    $(this).hide();
        $("#a_appurtenance_arry").after("<div class='controls'><font color='red'>*您上传的附件不能超过5个</p></font>");
    return;
   }
    else
    {
    $("#appurtenance_avatar").after("<div class='controls'><div class='appurtenance_file'><input type='file' name='appurtenance[][avatar]' data-validate='true'></div><p>您上传的附件不能超过6M</p></div>");
  }
  })
})
</script>