<% unless @topics.empty? %>
  <% if choose_operate_show("my_school/topics/destroy") %>
    <div class="select_all_wrap clearfix" style="display: none;">
      <label class="input_select_all checkbox inline">
        <input type="checkbox" id="check_all" /> 全选
      </label>
      <a class="hidden-wrap" href="javascript: void(0)" rel="nofollow"><i class="img-icon icon-remove-circle pull-right"></i></a>
    </div>
  <% end %>
  <%= form_tag my_school_topic_path(@topics), method: :delete, :id => "destroy_multi_form" do %>
    <%= render partial: "topic", collection: @topics %>
  <% end %>
  <div class="paginate_div">
    <%= paginate @topics %>
  </div>
<% else %>
  没有贴子
<% end %>
