<% unless @topics.empty? %>
  <% if choose_operate_show("my_school/topics/destroy") %>
<label class="input_select_all checkbox inline ">
  <input type="checkbox" id="check_all" /> 全选
</label>
  <% end %>
  <%= form_tag my_school_topic_path(@topics), method: :delete, :id => "destroy_multi_form" do %>
    <%= render partial: "topic", collection: @topics %>
  <% end %>
  <%= paginate @topics %>
<% else %>
  没有贴子
<% end %>
