<% f = topic_form %>

<div class="control-group">
    <%= f.kindeditor :content, :class => 'profile_input required', :editor_id => 'topic_entry_content',:allowFileManager => false,:allowUpload=>false, :simple_mode => true %>
</div>
<%= f.input :creater_id, :as => :hidden %>
<%= f.input :topic_id, :as => :hidden %>


  <div class="text-center">
    <%= f.button :submit, :value => "回复", class: "btn-primary btn-large" , disable_with: "正在提交..."%>
  </div>

<script type="text/javascript">
  $("input[type='submit']").click(function(){
    if (topic_entry_content.html().length < 3 || topic_entry_content.isEmpty()) {
      if ( $("#topic_entry_content").next("span.help-inline").length == 0 ) {
        $("<span class='help-inline'>长度不够(不得少于3个字符)<span>").insertAfter("#topic_entry_content")
      }
      return false;
    } else {
      if ( $("#topic_entry_content").next("span.help-inline").length > 0 ) {
        $("#topic_entry_content").next("span.help-inline").remove()
      }
      return true;
    }
  })
</script>
