<% f = topic_form %>

<div class="control-group">
    <%= f.kindeditor :content, :class => 'profile_input required', :editor_id => 'topic_reply_content',:allowFileManager => false,:allowUpload=>false%>
</div>
<%= f.input :creater_id, :as => :hidden %>
<%= f.input :topic_id, :as => :hidden %>


<div class="control-group">
  <div class="controls">
    <%= f.button :submit %>
  </div>
</div>

<script type="text/javascript">
  $("input[type='submit']").click(function(){
    if (topic_reply_content.html().length < 9 || topic_content.isEmpty()) {
      $("<span class='help-inline'>长度不够或为空<span>").insertAfter(".ke-edit")
      return false;
    }
  })
</script>
