<% f = topic_form %>

<%= f.input :content, :validate => true, :required => true, :input_html => { :class => "span5" } %>
<%= f.input :creater_id, :as => :hidden %>
<%= f.input :topic_id, :as => :hidden %>


<div class="control-group">
  <div class="controls">
    <%= f.button :submit %>
  </div>
</div>
