<div class="admissions_information">
  <div class="admissions_info_title">
    <h2><%= @entry.try(:title)%></h2>
  </div>
  <div class="admissions_info_content">
    <%=raw @entry.try(:content) %>
  </div>
  <% if @entry_mid && !@entry_mid.content.blank? %>
    <div class="show_admiss_info_menu_center">
      <div class="show_admiss_info_center">
        <ul>
          <li>
            <a><%=@entry_mid.try(:title)%></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="admissions_info_content">
      <%=raw @entry_mid.try(:content)%>
    </div>
  <% end %>
</div>