<div class="activity">
  <div class="activity_list">
    <div class="activity_title">
      活动通知
    </div>
    <div class="activity_list_info">
      <ul>
        <% @activities.each do |activity| %>
          <li>
            <%= link_to activity.title, my_school_activity_path(activity) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="activity_more">
      <%= link_to "查看更多","/" %>
    </div>
  </div>
  <div class="activity_content">
    <ul>
      <% @recent_activities.each do |recent_activity| %>
        <li>
          <div class="activity_content_logo">
            <img src="/t/colorful/activity_logo1.jpg" alt="" />
          </div>
          <div class="activity_content_info">
            <div class="activity_content_title"><%= recent_activity.title %></div>
            <div class="activity_content_text"><%= simple_format recent_activity.content %></div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
