<div class="container">
  <div class='navbar navbar-inverse'>
    <div class='nav-collapse' style="height: auto;">
      <ul class="nav weixin_menu">
        <li class="menu_li"><a href="###" class="growth" for="#message_div"><div class="show_div"></div><img src="/t/colorful/growth_img.png" alt="宝宝成长" /><label>通知公告</label></a>
          <div id="message_div" class="hide menu_second">
            <ul>
              <li><a href="/weixin/messages"><div class="s_arrow"></div><label>收件箱</label></a></li>
              <li ><a href="/weixin/messages/outbox"><div class="s_arrow"></div><label>发件箱</label></a></li>
              <li ><a href="/weixin/messages/draft_box"><div class="s_arrow"></div><label>草稿箱</label></a></li>
              <li ><a href="/weixin/notices"><div class="s_arrow"></div><label>通知消息</label></a></li>
            </ul>
          </div>
        </li>
        <li class="menu_li"><a href="/weixin/activities" class="activity"><img src="/t/colorful/activity_img.png" alt="班级活动" /><label>主题活动</label></a></li>
        <li class="menu_li"><a href="/weixin/cook_books" class="cook"><img src="/t/colorful/cook_img.png" alt="每周菜谱" /><label>每周菜谱</label></a></li>
        <li class="menu_li">
          <a href="/weixin/albums" class="phone" for="#phone_div"><img src="/t/colorful/phone_img.png" alt="照片集锦" /><label>照片集锦</label></a>
        </li>
        <li class="menu_li"><a href="###" class="growth" for="#growth_div"><div class="show_div"></div><img src="/t/colorful/growth_img.png" alt="宝宝成长" /><label>宝宝成长</label></a>
          <div id="growth_div" class="hide menu_second">
            <ul>
              <li><a href="/weixin/garden_growth_records"><div class="s_arrow"></div><img src="/t/colorful/login_img11.png" alt="头像"/><label>宝宝在园</label></a></li>
              <li ><a href="/weixin/growth_records"><div class="s_arrow"></div><img src="/t/colorful/login_img9.png" alt="头像"/><label>宝宝在家</label></a></li>
            </ul>
          </div>
        </li>
        <li class="menu_li"><a href="###" class="topic" for="#topic_div"><img src="/t/colorful/topic_img.png" alt="信息论坛" /><label>信息论坛</label></a>
          <div id="topic_div" class="hide menu_second">
            <ul>
              <% @topic_categories.each do |category| %>
                <li><a href="<%= url_for(:controller => "/weixin/topics", :action => :index, :category_id => category.id) %>"><div class="s_arrow"></div><img src="/t/colorful/login_img11.png" alt="头像"/><label><%= category.name %></label></a></li>
                  <% end %>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $(".phone,.growth").click(function(){
      var div = $($(this).attr("for"));
      if(div.css("display") == "block"){
        $(this).children("div").removeClass("del_div");
        div.hide();
      }else{
        $(this).children("div").addClass("del_div");
        div.show();
      }
    })
    $(".topic").click(function() {
      var div = $($(this).attr("for"));
      div.slideToggle();
      $(this).children("div").toggleClass("del_div");
    })
  })
</script>
