<div class="food">
  <div class="food_content">
    <hr />
    <%= link_to "首页","/weixin" %>|
    <%= link_to "关于我们","/weixin/about" %>|
    <%= link_to "联系我们","/weixin/contact_us" %>
    <hr />
    <label>
      @2013 by 微壹. All rights reserved.
    </label>
    <br/>服务热线：0755-88276686 (9:00 ~ 18:00)
    <br />　　　　　
    4000-915-985 (18:00后、节假日)
  </div>
</div>
