<div class="food">
  <ul>
    <li><a href="http://www.weiyizixun.com" title="关于微一资讯">关于我们</a></li>
    <li><a href="http://www.weiyizixun.com/main/weiyi_solution" title="微一资讯的解决方案">解决方案</a></li>
    <li><a href="http://www.weiyizixun.com/main/weiyi_contact" title="联系微一资讯">联系我们</a></li>
  </ul>
  <div class="food_note">
    @2013 by 微壹.All rights reserved.<a target="_blank" href="http://www.miitbeian.gov.cn"><%= WEBSITE_CONFIG["record_code"] %></a>
  </div>
</div>