<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>精彩视频</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>照片集锦</li>
            <li>/</li>
            <li>精彩视频</li>
          </ul>
        </div>
      </div>

      <ul class="work_action">
        <li>

        </li>
        <li>
        </li>
      </ul>
    </div>
    <div class="work_list">
      <div class="topics" id="topics" style="position: relative;">
      </div>
    </div>
  </div>

</div>
