<% unless @squads.blank? %>
  <label class="field_prompt" for="squad">班级:</label>
  <%= select_tag "squad_id", options_for_select((@squads.collect{|s|[s.name,s.id]} || [])), :class => "select", :name => "topic[squad_id]" %>
<% end %>
