<% if Report.find_report_for_resource(current_user, obj.resource_class_name, obj.resource_class_id).blank? %>
    <span id="report_link"><%= link_to "举报", url_for(:controller => "my_school/reports", :action => "create", :method => 'get', :resource_type => obj.resource_class_name, :resource_id => obj.resource_class_id, :url => request.original_url), :class => 'btn btn-link' %></span>
<% else %>
  <b>已被举报</b>
<% end %>
