<% f = form %>

<%= f.input :name, :validate => true, :required => true, :input_html => {:class => "span5 profile_input required"} %>
<%= f.input :kindergarten_label, :required => true, :as => :string, :input_html => { :disabled => true } %>
<%= f.input :kindergarten_id, :as => :hidden %>

<div class="control-group">
  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-large", disable_with: "正在提交..." %>
  </div>
</div>
