<div class="control-group">
  <%=f.label :kindergarten_id, '所属幼儿园*' ,:class=>"control-label"%>
  <div class="controls">
    <%= text_field_tag(:kindergarten,@kind.name, :disabled=> true) %>
  </div>
</div>

