<% unless @student_infos.empty? %>
  <label class="field_prompt" for="student">学员:</label>
  <%= select_tag "student_info_id", options_for_select((@student_infos.collect{|s|[s.user.name,s.id]} || [])), :class => "select", :name => "growth_record[student_info_id]" %>
<% else %>
  <label class="field_prompt" for="student">学员:</label>
  <div class="controls">
    <label>没有学员,请先创建年级,才能继续操作</label>
  </div>
<% end %>
