<% unless @physical_records.blank? %>
  <div class="select_all_wrap clearfix" style="display: none;">
    <label class="input_select_all checkbox inline ">
      <input type="checkbox" id="check_all" /> 全选
    </label>
    <a class="hidden-wrap" href="javascript: void(0)" rel="nofollow"><i class="img-icon icon-remove-circle pull-right"></i></a>
  </div>
  <%= form_tag my_school_physical_record_path(@physical_records), method: :delete, :id => "destroy_multi_form" do %>
    <%= render partial: "physical_record", collection: @physical_records %>
  <% end %>
  <%= paginate @physical_records %>
<% else %>
  暂无体检记录
<% end %>
