<%unless @squads.blank? %>
  <span>班级&nbsp;&nbsp;<%= select_tag "#{params[:name] || 'class_number'}",
      options_for_select(@squads.collect{|s|[s.name,s.id]} )  %></span>
    <br />
    <br />
  <% if params[:no_student].blank? %>
    <div id="student_partial">
      <%(@student_infos||[]).each do |st_in|%>
        <%=radio_button_tag("physical_record[student_info_id]",st_in.id)%><%=st_in.name%>
      <%end%>
    </div>
  <%end%>
<%end%>
<% if params[:no_student].blank? %>
  <script>
    $("#class_number").change(function(){
      $.get( "/my_school/physical_records/class_student",
      { grade: $('#grade').val(), class_number: $('#class_number').val()},
      function(result){
        $("#student_partial").html(result);
      });
    });
  </script>
<%end%>
