<div class="center_left">
    <div class="center_conment_left">
     个人积分
    </div>
    <div class="center_conment_mid">
    <ul>
     <li>
       <div class="my_credit_show">
      	 <a class="my_credit_a">我的积分</a>
       </div>
     </li>
     <li>
     	<a class="my_credit_a">购物车</a>
     </li>
     <li>
     	<a class="my_credit_a">已兑换的礼品</a>
     </li>
    </ul>
      
    </div>
    <div class="center_conment_bottom">
    </div>
 </div>