<div class="shop_question">
  <p>我的积分&nbsp;<span class="credit">700</span></p>
  <p><a href="#" style="text-decoration: underline;">我能兑换的礼品</a></p>
  <p><a href="#" class="btn-shop btn-show-card">购物车(6)</a></p>
  <p><img src="/star_imgs/shop/center_user/q_and_a.png" alt=""></p>
  <p><a href="#">什么是v1积分?</a></p>
  <p><a href="#">如何赚取积分?</a></p>
  <p><a href="#">兑换及抽奖流程</a></p>
  <p><a href="#">规则帮助</a></p>
</div>
