<div class="center_user_work">
  <div class="center_user_conment">
    <%=render "center_left"%>
    <div class="center_right">
      <div class="center_right_line"></div>
      <div class="center_right_bottom">
        <div class="center_conment_right">
          <p><span class="credit_title"><b>赚取积分</b></p>
        </div>
        <div class="center_conment_right_mid">
        </div>
        <div class="center_right_bottom_mid" style="margin-top: -10px;">
          <div>
            <div>

              <table cellpadding="10" cellspacing="0" class="cart_data table table-hover">
                <tr class="carttitle thbrank">
                  <td>订单号</td>
                  <td>商品</td>
                  <td colspan="2">总积分</td>
               </tr>
                <tbody>

                    <tr>
                      <td>1111111111111111</td>
                      <td>
    　　　　　　　　　　 <div class="olitem">
　　　　　　　　　　　　　<span class="olitemqty">3</span>
　　　　　　　　　　　　　<span class="olitemtitle">棉宝宝</span>
                          <span class="olitemtitle">积分</span>
    　　　　　　　　　　 </div>
                      </td>
                      <td>1111</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div>
          </div>
        </div>
        <div class="center_conment_right_bottom">
        </div>
      </div>
    </div>
  </div>
  <div class="center_user_conment_mid clearfix">
  </div>
  <div class="center_user_conment_bottom">
  </div>
</div>
