<%#= f.text_field :name ,:class => "span5" %>
<%#= render 'shared/form_error_messages', :model => @category %>
<table>
    <tbody>
      <tr>
          <th> <%=f.label :name, 'nnnn' %></th>
          <td>

            <%= f.text_field :name %>
          </td>
      </tr>
      
    </tbody>
</table>
 
