<% unless @seedlings.blank? %>
  <div class="select_all_wrap clearfix" style="display: none;">
    <label class="input_select_all checkbox inline ">
      <input type="checkbox" id="check_all" /> 全选
    </label>
    <a class="hidden-wrap" href="javascript: void(0)" rel="nofollow"><i class="img-icon icon-remove-circle pull-right"></i></a>
  </div>
  <%= render partial: "seedling", collection: @seedlings %>
  <%= paginate @seedlings %>
<% else %>
  暂无疫苗记录
<% end %>
