<% unless @squads.blank? %>
  <label class="field_prompt" for="squad">班级:</label>
  <%= select_tag "squad", options_for_select((@squads.collect{|s|[s.name,s.id]} || [])), :class => "select" %>
<% else %>
  <label class="field_prompt" for="squad">班级:</label>
  <div class="controls">
    <label>没有班级,请先创建班级,才能继续操作</label>
  </div>
<% end %>

<script type="text/javascript">
  $("#squad").change(function() {
    if ( $("#unfinished").is(":checked") )
    {
      var unfinished = true || false
    }
    $.ajax({
      url: "/my_school/growth_records/squad_student_partial",
      data: {
        grade: $("#grade").val(), squad: $("#squad").val(),
        unfinished: unfinished
      },
      beforeSend: function() {
        $("#squad_student_partial").html('<img style="margin-left: 250px" class="loading_img" src="/t/colorful/gif_preloader.gif" alt="" />')

      },
      success: function(result) {
        $("#squad_student_partial").html(result)
      }
    })
  }).trigger("change");
</script>
