/*
 *= require jquery.ui.all
*/
/*div.ui-dialog{
    position: fixed;
}
.wrapper input {
    height: auto;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.clear{
    clear:both
}
a{
    color: white;
    text-decoration: none;
}*/
/*.wrapper{
    width: 960px;
    margin: 0 auto;
}
.wrapper_all{
    width: 980px;
    margin: 0 auto;
}
.head{
    width: 100%;
}
.school_logo{
    padding-left: 400px ;
    padding-bottom: 10px;
}
/*------------菜单-------------*/
/*.menu{
    width: 100%;
    position: relative;
}
.menu_left{
    /*background-color: #008FDC;*/
/*  background-image: url(/t/colorful/menu_left.jpg);
  background-repeat: no-repeat;
  width: 14px;
  height: 63px;
  position: absolute;
  left:-12px;
  top:80px;
}*/
/*.menu_left_top{
    background-color: #008FDC;
    width: 14px;
    height: 130px;
    position: absolute;
    left:-12px;

}
.menu_right{
    background-image: url(/t/colorful/menu_right.jpg);
    background-repeat: no-repeat;
    width: 14px;
    height: 63px;
    position: absolute;
    left:951px;
    top:80px;
}
.menu_right_top{
    background-color: #008FDC;
    width: 14px;
    height: 130px;
    position: absolute;
    left:951px;

}
.menu_center{
    width: 100%;
    height: 130px;
    background-color: #008fdc;
}
.menu_center ul{

}*/
/*.menu_center ul li{
    border-right: 1px solid white;
    float: left;
    line-height: 8px;
    margin-top: 22px;
    position: relative;
    text-align: center;
    width: 190px;
    height: 86px;
    font-family: 'Times New Roman';*/
/*margin-bottom: 26px;*/
/*   font-weight:bold;
}*/
/*.menu_center ul li a{
    z-index: 2;
    position: relative;
}
.menu_center ul li:last-child {
    border: none;
}

.menu_center ul li a:hover{
    text-decoration: underline;
    color: white;
}
.submenu_center{
    height: auto;
    width: 100%;
    text-align: center;
    background-color: white;
}
*/
/*.submenu_center ul li{
    border-right: 1px dotted #008fdc;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
}
.submenu_center ul li:last-child {
    border: none;
}
.menu_selected{
    background-image: url("/t/colorful/menu_selected.png");
    height: 60px;
    left: 0;
    position: absolute;
    top: -18px;
    width: 125px;
    z-index: 1;
}

.show_content_page{
    height: auto;
    width: 100%;
    text-align: center;
    background-color: #F0EBE2;
    position: relative;

}
.show_center{
    width: 100%;
    height: 50px;
    background-color: #008fdc;

}
.show_center_left{*/
/*background-color: #008FDC;*/
/*background-image: url(/t/colorful/menu_left.jpg);
background-repeat: no-repeat;
width: 14px;
height: 63px;
position: absolute;
left:-14px;
}
.show_center_right{
background-image: url(/t/colorful/menu_right.jpg);
background-repeat: no-repeat;
width: 14px;
height: 63px;
position: absolute;
left:955px;
}
.show_center ul li{
line-height: 50px;
margin-top: 22px;
text-align: center;
font-family: 'Times New Roman';
font-weight:bold;
height: 36px;
}
*/
#user_show_dialog{
    width: 80px;
    height: 30px;
}
a:hover{
    color:white;
    text-decoration:none;
}
.new_form{
    background-color: #FBFBFB;
    border: 1px solid #E3E3E3;
    margin-top: 48px;
    padding: 40px;
    position: relative;
}
.official_new_title{
    padding-top: 15px;
    position: relative;
}
.official_new_img{
     background-image: url("/t/colorful/title.png");
    background-position: -320px -10px;
    background-repeat: no-repeat;
    height: 100px;
    left: 280px;
    position: absolute;
    top: -50px;
    width: 420px;
    z-index: 100;
}
.official_admiss_info_img{
    background-image: url("/t/colorful/title.png");
    background-position: -320px -220px;
    background-repeat: no-repeat;
    height: 100px;
    left: 230px;
    position: absolute;
    top: -5px;
    width: 475px;
    z-index: 100; 
}
.official_feature_img{
    background-image: url("/t/colorful/title.png");
    background-position: -320px -110px;
    background-repeat: no-repeat;
    height: 100px;
    left: 250px;
    position: absolute;
    top: -5px;
    width: 420px;
    z-index: 100;
}
.official_contact_img{
    background-image: url("/t/colorful/title.png");
    background-position: -320px -330px;
    background-repeat: no-repeat;
    height: 100px;
    left: 240px;
    position: absolute;
    top: -5px;
    width: 450px;
    z-index: 100;
}
.official_new_line{
    border: 2px solid #E3E3E3;
    margin-top: 15px;
}
.form-horizontal .control-label_left {
    float: left;
    padding-top: 5px;
    padding-left: 20px;
    width: 160px;
    font-weight:bold;
}
.official_new_dotted_line{
    border: 1px dotted #E3E3E3;
    margin-top: 15px;
    margin-bottom:15px; 
}
.new_more_button{
    float:right;
}
.official_new_solid_line{
    border: 1px solid #E3E3E3;
    margin-top: 15px;
}
.form-horizontal .table_controls {
    float: left;
    margin-left: 180px;
}
.official_new_list_solid_line{
    border: 1px solid #E3E3E3;
    margin-top: 15px;
    margin-bottom: 15px;
}
.official_home_img img{
/*    height: 370px;*/
}
.official_left_work{
    float: left;
    width: 65%;
}
.official_home_teacher_img img{
    border: 0 none;
    height: 100px;
    vertical-align: middle;
    max-width: 200%;
}
.form-horizontal .control-label_right {
    float: right;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
    width: 160px;
}
.class_middle_bottom_image img {
    border: 0 none;
    vertical-align: middle;
    max-width: 200%; 
}
.box_feat_img img{
    border: 0 none;
    max-width: 300px;
    vertical-align: middle;
}
.show_menu_center{
    position: relative;
}
body{
    padding-top:5px;
}
.control-label_left a{
    color:black;
}
ul li a:hover{
    color:white;
    text-decoration:none;
}
.control-label_left a:hover{
    text-decoration:-moz-anchor-decoration;
}
.official_font a:hover{
    text-decoration:-moz-anchor-decoration;
}
.time_control{
    float:left;width:500px;
}
.time_control_title{float: left;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
    width: 160px;
}
.show_count_time{
float:right;width:300px
}
.content a{
    color: blue;
}
.show_label a{
    color: blue;
}
.teacher_content{
    padding-right: 5px;
}



.floatingAd .ad{
	z-index: 100;
	background: none;
	position: absolute;
	display: none;
}
.floatingAd a{
	color:#000000;
	display: inline-block;
	text-decoration: none;
}
.floatingAd a img{
	border: 0;
}
.floatingAd .close_div{
	display: none;
}
.floatingAd .opacity{
	position: absolute;
	top: 100px;
	width: 100%;
	height: 25px;
	background-color: #000000;
	opacity: 0.20;
	filter: alpha(opacity = 20);
}
.opacity1{
	opacity: 0.90;
	filter: alpha(opacity = 90);
}
.floatingAd .text{
	position: absolute;
	top: 100px;
	width: 100%;
	height: 25px;
	color: #000000;
	line-height: 25px;
}
.floatingAd .text .button{
	position: relative;
	float: right;
	top: 5px;
	right: 5px;
	width: 16px;
	height: 16px;
	background: url("/star_imgs/close.png") no-repeat;
	cursor: pointer;
}
.floatingAd .text .title{
	position: relative;
	float: left;
	font-size: 12px;
	margin-left: 5px;
}