body {
    background-color: #f0ebe2;
    padding-top: 10px;
}
.about{
    background-color: white;
    padding: 10px;
    word-wrap: break-word;
}
.head {
    position: relative;
}
.head a{
    display: inline;
    text-decoration: none;
}
.head a img{
    max-width: 10%;
}
.head .logo{
    display: inline;
    max-width: 75px;
}
.head .logo img{
    max-width: 25%;
}
.logo{
    margin-bottom: 5px;
}
.head button{
    float: right;
    height: 39px;
    width: 114px;
    border: none;
    background-image: url("/t/colorful/message_btn.png");
    text-align: left;
    color: #8e8e8e;
    padding-left: 15px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}
.head .message_count{
    background-image: url("/t/colorful/message_count.png");
    color: white;
    font-size: 16px;
    height: 28px;
    line-height: 22px;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 28px;
    z-index: 2;
    top: -1px;
}
.head .message_img{
    background-image: url("/t/colorful/message_img.png");
    height: 28px;
    position: absolute;
    right: 10px;
    top: 14px;
    width: 28px;
    z-index: 1;
}
.weixin_ad{
    text-align: center;
    margin-bottom: 10px;
}
.weixin_menu li.menu_li img{
    max-width: 20%;
    min-width: 42px;
    display: inline;
}
.menu_li a{
    position: relative;
}
.weixin_menu{
}
.menu_li label{
    display: inline;
    vertical-align: middle;
    padding-left: 5px;
    color:white;
}
.navbar .nav-collapse .weixin_menu .activity{
    background-color: #008FDC;
}
.navbar .nav-collapse  .weixin_menu .activity:hover,.navbar .nav-collapse  .weixin_menu .activity:focus{
    background-color: #006dcc;
}
.navbar .nav-collapse .weixin_menu .cook{
    background-color: #EF554C;
}
.navbar .nav-collapse  .weixin_menu .cook:hover,.navbar .nav-collapse  .weixin_menu .cook:focus{
    background-color: #EF2540;
}
.navbar .nav-collapse .weixin_menu .phone{
    background-color: #A4C400;
}
.navbar .nav-collapse  .weixin_menu .phone:hover,.navbar .nav-collapse  .weixin_menu .phone:focus{
    background-color: #A4D40C;
}
.navbar .nav-collapse .weixin_menu .growth{
    background-color: #f6ab1d;
}
.navbar .nav-collapse  .weixin_menu .growth:hover,.navbar .nav-collapse  .weixin_menu .growth:focus{
    background-color: #f6Bb1d;
}
.navbar .nav-collapse .weixin_menu .topic{
    background-color: #DE6DC3;
}
.navbar .nav-collapse  .weixin_menu .topic:hover,.navbar .nav-collapse  .weixin_menu .topic:focus{
    background-color: #DE2DC3;
}

.show_div{
    background-image: url("/t/colorful/add.png");
    height: 25px;
    position: absolute;
    right: 3px;
    width: 25px;
    top: 50%;
    margin-top: -13px;
}
.del_div{
    background-image: url("/t/colorful/del.png");
    height: 25px;
    position: absolute;
    right: 3px;
    width: 25px;
}
.hide{
    display: none;
}
#growth_div ul{
    margin: 0px;
    padding: 0px;
}
#growth_div li{
    border-bottom: 1px dashed #B2AEA6;
    padding: 5px;
    list-style-type: none;
}
#growth_div label{
    color: #494542;
}
.menu_second a{
    display: inherit;
    width: 100%;
    text-decoration: none;
}
.s_arrow {
    background-image: url("/t/colorful/s_arrow.png");
    top: 50%;
    margin-top: -7px;
    position: absolute;
    width: 9px;
    height: 14px;
    right: 3px;
}
.w_arrow {
    background-image: url("/t/colorful/w_arrow.png");
    top: 50%;
    margin-top: -6px;
    position: absolute;
    width: 7px;
    height: 11px;
    right: 3px;
}

.food_content{
    text-align: center;
    color: #008FDC;
}
.food_content hr{
    border-color: #008FDC;
}
.food_content a,.food_content label{
    color: #008FDC;
}
.menu_one_a{
    display: inherit;
    color: white;
    position: relative;
    background-color: #008FDC;
    padding: 15px 15px 15px 10%;
}
.menu_one_a:hover,.menu_one_a:focus{
    color: white;
}
.hide_div{
    border-bottom: 1px dashed white;
}
#user_infos,#teacher_infos{
    display: none;
}
.b_arr{
    background-image: url("/t/colorful/b_arr.png");
    height: 13px;
    background-repeat: no-repeat;
    background-position: 10% 0px;
    width: 100%;
}
.user_title{
    width: 100%;
}
.user_logo{
    display: inline-block;
    padding-left: 10%;
    padding-top: 5px;
}
.user_name{
    display: inline-block;
    display: inline-block;
    vertical-align: middle;
}

.user_name label{
    padding: 5px;
}
.user_entry{
    padding: 5px;
}
.user_entry table{
    background-color: white;
}
/*====绑定用户界面===============*/
.bind{

}
.bind .title{
    padding-top: 15px;
    padding-bottom: 15px;
}
.bind .bind_user{
    padding: 5px;
}
.bind .bind_user table{
    background-color: white;
}
.bind input{
    height: 32px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 80%;
}
.bind .bind_user table b{
    vertical-align: middle;
}

.bind .button_xun{
    background-image: url("/t/colorful/submit.png");
    display: block;
    height: 57px;
    width: 156px;
    text-decoration: none;
}
.bind .button_xun:hover{
    background-image: url("/t/colorful/submit.png");
    background-position: 0 -57px;
    display: block;
    height: 57px;
    width: 156px;
}
.bind .login_submit{
    text-align: left;
}
.login_submit_div{
    padding: 20px 20px 20px 0;
}
.error_div{
    padding-top: 5px;
}
.error_label{
    color: #EF2540;
}
.login_body{
    background-color: #A3C43F;
}

/*=======消息模块===============*/
.message_div{
    background-color: #FFFFFF;
    margin-bottom: 10px;
}
.message_div .message_title{
    background-image: url("/t/colorful/title_bg.png");
    color: #FFFFFF;
    padding: 10px;
}
.message_div .message_filter{
    background-image: url("/t/colorful/weixin_bg0.png");
    background-repeat: repeat-x;
    background-position: 0 bottom;
    height: 52px;
}
.message_div .message_filter select{
    margin-left: 10px;
    margin-top: 10px;
    width: auto;
}
.message_div .message_list .data_list li{
    border: 1px solid #CBCBCB;
    list-style-type: none;
    margin: 5px;
    border-radius:5px;
}
.message_div .message_list .data_list li:hover{
    border: 1px solid #80C2DB;
    background-color: #EBFCFB;
}
.message_div .message_list li a{
    text-decoration: none;
}
.message_div .message_list ul{
    padding: 0px;
    margin: 0px;
}
.message_div .message_list .data_list li .message_user{
    float: left;
    padding-top: 5px;
    text-align: left;
    vertical-align: top;
    width: 48%;
    color: #485154;
}
.message_div .message_list .data_list li .message_time{
    display: inline-block;
    padding-top: 5px;
    text-align: right;
    width: 50%;
    color: #787b80;
}
.message_div .message_list .data_list li .message_content{
    padding: 5px;
    word-wrap: break-word;
    color: #485154;
    line-height: 27px;
}
.message_div .message_more{
    background-image: url("/t/colorful/weixin_bg1.png");
    background-position: 0 -38px;
    background-repeat: repeat-x;
    height: 55px;
    position: relative;
}
.message_div .message_more label{
    padding: 15px 10px 10px;
}
.message_div #message_more{
    text-decoration: none;
    color: #494542;
}
.message_div #message_more:hover,.message_div #message_more:focus{
    color: #494542;
}

.show_title{
    background-color: #EBF7FC;
    border-bottom: 2px #8ED2FC solid;
}
.message_title a{
    background-image: url("/t/colorful/weixin_back.png");
    color: white;
    float: left;
    font-size: 16px;
    height: 31px;
    line-height: 28px;
    margin-top: -3px;
    text-align: center;
    text-decoration: none;
    width: 52px;
}
.show_title .title{
    padding: 5px 5px 5px 10px;
    font-weight: bold;
}
.show_title .limit_title{
    padding: 5px 5px 5px 10px;
}
.message_list label.message_content{
    padding: 15px 5px 5px 10px;
    margin-bottom: 25px;
    word-wrap: break-word;
    line-height: 27px;
}

.data_list div.center{
    text-align: center;
    margin-top: 5px;
}
.data_list p{
    margin: 0px;
}
.data_list a{
    color: #485154;
    text-decoration: none;
}

.return_div{
    background-color: #F4F4F4;
    position: relative;
    border-top: 1px #D5D5D5 solid;
}
.return_div .swoosh{
    background-image: url("/t/colorful/weixin_icon.png");
    background-position: -10px 405px;
    height: 25px;
    left: 30%;
    position: absolute;
    top: -24px;
    width: 30px;
}
.return_li{
    background-color: #D5D5D5;
}
.return_div label{
    padding: 15px 5px 5px 10px;
    font-weight: bold;
}
.return_div .return_text{
    padding: 10px;
}
.return_div .return_input{
    width: 60%;
}
.return_div .return_submit{
    background-image: url("/t/colorful/weixin_icon.png");
    background-position: -240px 465px;
    border: medium none;
    color: white;
    height: 50px;
    width: 60px;
}
.paginate_div{
    text-align: center;
}
.paginate_div .pagination {
    margin: 0px;
    padding-top: 12px;
}
.paginate_div .pagination a{
    color: #787b80;
}
.pagination ul > li > a, .pagination ul > li > span{
    padding: 6px 4px;
}


/*========================= 贴子 =================*/
.message_div .message_list .data_list li {
  margin-top: 20px;
  cursor: pointer;
}
.message_list .data_list .topic_show .topic_title {
  color: #000000;
  font-size: 34px;
  padding: 20px 20px 0;
}
.message_list .data_list .topic_show .topic_created_time {
  color: #5d5d5d;
  font-size: 30px;
  padding: 20px 20px 10px;
}
.message_list .data_list .topic_show .topic_info {
  padding: 20px 20px 10px;
  color: #008fdc;
  font-size: 30px;
  background-color: #EAF7FF;
  position: relative;
}
.message_list .data_list .topic_show .topic_info .topic_reply {
  position: absolute;
  right: 50px;
}

.message_div .message_list .data_list .new_topic {
    background-color: #B0CC20;
    display: block;
    margin: 5px;
    margin-top: 20px;
    color: white;
    height: 50px;
    line-height: 50px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

.message_div .message_list .data_list li.topic {
  border: none;
}
.message_div .message_list .data_list li.topic .topic_title {
  padding: 10px 20px 25px 20px;
  font-size: 34px;
}

.message_div .message_list .data_list li.topic .topic_info {
  padding: 0 20px 20px 20px;
  font-size: 27px;
}
.message_div .message_list .data_list li.topic .topic_info span {
  color: #7d7d7d;
}
.message_div .message_list .data_list li.topic .topic_info .author {
  color: #008fdc;
}
.message_div .message_list .data_list li.topic .topic_content {
  padding: 0 20px 20px 20px;
  text-indent: 20px;
  line-height: 40px;
}
.message_div .message_list .data_list li.reply {
  border: none;
  padding: 10px 10px 15px 10px;
}

.message_div .message_list .data_list li.reply .field .field_prompt {
  color: #000000;
  font-size: 25px;
  padding-left: 5px;
}

.message_div .message_list .data_list li.reply .text-content {
  margin-top: 20px;
  height: 50px;
  line-height: 50px;
  width: 350px;
  font-size: 20px;
}
.message_div .message_list .data_list ul.topic_replies {
  padding: 10px 12px 12px 12px;
  background-color: #DBEEFD;
}
.message_div .message_list .data_list ul.topic_replies li {
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  border: 1px #008fdc solid;
  padding: 20px;
}
.message_div .message_list .data_list ul.topic_replies li .author {
  color: #008fdc;
}

.message_div .message_list .data_list ul.topic_replies li .reply_info {
  margin-bottom: 20px;
  background: url("/t/colorful/qietu_54.png") no-repeat 400px -240px;
}
.field_prompt {
  color: #008fdc;
  font-size: 20px;
}

.field {
  margin-bottom: 20px;
}

.form {
  padding: 10px 20px 20px;
}

.select {
  height: 55px;
  padding-top: 10px;
  font-size: 25px;
  width: 300px;
}

.form .field .text-content {
  height: 40px;
  line-height: 40px;
  width: 350px;
  font-size: 20px;
}

.form .field .text-area {
  width: 500px;
  font-size: 20px;
  height: 150px;
}
/*===========老师信息==========*/
.menu_one_info{
    padding: 10px;
}
.menu_one_ul{
    list-style: none;
    background-color: white;
    margin: 0px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #BFBEB4;
}
.menu_one_ul li{
    padding: 8px;
    border-bottom: 1px solid #BFBEB4;
    position: relative;
}
.user_logo img{

}
.li_title{
    position: relative;
}
.li_child{
    background-color: #E9E9E9;
}
.bottom_dotted{
    border-bottom: 1px dotted #8C8C8C;
}
.bottom_dotted:last-child{
    border-bottom: 0px;
}

.help {
  color: red;
  font-size: 20px;
}
