/*
 *= require jquery.ui.all
*/
body {
    background-color: #f0ebe2;
    padding-top: 10px;
}
.about{
    background-color: white;
    padding: 10px;
    word-wrap: break-word;
}
.head {
    position: relative;
}
.head a{
    display: inline;
    text-decoration: none;
}
.head a img{
    max-width: 10%;
}
.head .logo{
    display: inline;
    max-width: 75px;
}
.head .logo img{
    max-width: 25%;
}
.logo{
    margin-bottom: 5px;
}
.left_third{
    width: 35%;
    display: inline-block;
    vertical-align: top;
}
.left_third .album_img{
    padding: 2px;
}
.album_entry_img{
    text-align: center;
    padding: 5px;
}
.left_two{
    width: 60%;
    display: inline-block;
}
.time_label{
    line-height: 35px;
    color: #919191;
    word-wrap: break-word;
}
.title_label{
    line-height: 30px;
    word-wrap: break-word;
}
.head button{
    float: right;
    height: 39px;
    width: 114px;
    border: none;
    background-image: url("/t/colorful/message_btn.png");
    text-align: left;
    color: #8e8e8e;
    padding-left: 15px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}
.head .message_count{
    background-image: url("/t/colorful/message_count.png");
    color: white;
    font-size: 16px;
    height: 28px;
    line-height: 22px;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 28px;
    z-index: 2;
    top: -1px;
}
.head .message_img{
    background-image: url("/t/colorful/message_img.png");
    height: 28px;
    position: absolute;
    right: 10px;
    top: 14px;
    width: 28px;
    z-index: 1;
}
.weixin_ad{
    text-align: center;
    margin-bottom: 10px;
}
.weixin_menu li.menu_li img{
    max-width: 20%;
    min-width: 42px;
    display: inline;
}
.menu_li a{
    position: relative;
}
.navbar .weixin_menu{
    float:none;
}
.weixin_menu > li.menu_li{
    float:none;
}
.menu_li label{
    display: inline;
    vertical-align: middle;
    padding-left: 5px;
    color:white;
}
.weixin_menu div.menu_second{
    position: relative;
    width: inherit;
}
.navbar .nav-collapse .weixin_menu .activity{
    background-color: #008FDC;
}
.navbar .nav-collapse  .weixin_menu .activity:hover,.navbar .nav-collapse  .weixin_menu .activity:focus{
    background-color: #006dcc;
}
.navbar .nav-collapse .weixin_menu .cook{
    background-color: #EF554C;
}
.navbar .nav-collapse  .weixin_menu .cook:hover,.navbar .nav-collapse  .weixin_menu .cook:focus{
    background-color: #EF2540;
}
.navbar .nav-collapse .weixin_menu .phone{
    background-color: #A4C400;
}
.navbar .nav-collapse  .weixin_menu .phone:hover,.navbar .nav-collapse  .weixin_menu .phone:focus{
    background-color: #A4D40C;
}
.navbar .nav-collapse .weixin_menu .share{
    background-color: #a651c6;
}
.navbar .nav-collapse  .weixin_menu .share:hover,.navbar .nav-collapse  .weixin_menu .share:focus{
    background-color: #a651E6;
}
.navbar .nav-collapse .weixin_menu .notice{
    background-color: #16828b;
}
.navbar .nav-collapse  .weixin_menu .notice:hover,.navbar .nav-collapse  .weixin_menu .notice:focus{
    background-color: #16827b;
}
.navbar .nav-collapse .weixin_menu .growth{
    background-color: #f6ab1d;
}
.navbar .nav-collapse  .weixin_menu .growth:hover,.navbar .nav-collapse  .weixin_menu .growth:focus{
    background-color: #f6Bb1d;
}
.navbar .nav-collapse .weixin_menu .topic{
    background-color: #DE6DC3;
}
.navbar .nav-collapse  .weixin_menu .topic:hover,.navbar .nav-collapse  .weixin_menu .topic:focus{
    background-color: #DE2DC3;
}

.show_div{
    background-image: url("/t/colorful/add.png");
    height: 25px;
    position: absolute;
    right: 3px;
    width: 25px;
    top: 50%;
    margin-top: -13px;
}
.del_div{
    background-image: url("/t/colorful/del.png");
    height: 25px;
    position: absolute;
    right: 3px;
    width: 25px;
}
.hide{
    display: none;
}
#growth_div ul{
    margin: 0px;
    padding: 0px;
}
#growth_div li,#message_div li{
    border-bottom: 1px dashed #B2AEA6;
    padding: 5px;
    list-style-type: none;
}
#growth_div label,#message_div label{
    color: #494542;
}
#activity_div ul{
    margin: 0px;
    padding: 0px;
}
#activity_div li,#message_div li{
    border-bottom: 1px dashed #B2AEA6;
    padding: 5px;
    list-style-type: none;
}
#activity_div label,#message_div label{
    color: #494542;
}
#topic_div ul{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
#topic_div li{
    border-bottom: 1px dashed #B2AEA6;
    padding: 5px;
    list-style-type: none;
    line-height: 45px;
}
#topic_div label{
    color: #494542;
}
.menu_second a{
    display: inherit;
    width: 100%;
    text-decoration: none;
}
.s_arrow {
    background-image: url("/t/colorful/s_arrow.png");
    top: 50%;
    margin-top: -7px;
    position: absolute;
    width: 9px;
    height: 14px;
    right: 3px;
}
.w_arrow {
    background-image: url("/t/colorful/w_arrow.png");
    top: 50%;
    margin-top: -6px;
    position: absolute;
    width: 7px;
    height: 11px;
    right: 3px;
}

.food_content{
    text-align: center;
    color: #008FDC;
}
.food_content hr{
    border-color: #008FDC;
}
.food_content a,.food_content label{
    color: #008FDC;
}
.menu_one_a{
    display: inherit;
    color: white;
    position: relative;
    background-color: #008FDC;
    padding: 15px 15px 15px 10%;
}
.menu_one_a:hover,.menu_one_a:focus{
    color: white;
}
.hide_div{
    border-bottom: 1px dashed white;
}
#user_infos,#teacher_infos,#squads_infos{
    display: none;
}
.b_arr{
    background-image: url("/t/colorful/b_arr.png");
    height: 13px;
    background-repeat: no-repeat;
    background-position: 10% 0px;
    width: 100%;
}
.user_title{
    width: 100%;
    padding-bottom: 3px;
}
.user_logo{
    display: inline-block;
    padding-left: 10%;
    padding-top: 5px;
}
.user_name{
    display: inline-block;
    display: inline-block;
    vertical-align: middle;
}

.user_name label{
    padding: 5px;
}
.user_entry{
    padding: 5px;
}
.user_entry table{
    background-color: white;
}
.info_action{
    text-align: right;
    padding: 5px;
}
/*====绑定用户界面===============*/
.bind{

}
.bind .title{
    padding-top: 15px;
    padding-bottom: 15px;
}
.bind .bind_user{
    padding: 5px;
}
.bind .bind_user table{
    background-color: white;
}
.bind input{
    height: 32px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 80%;
}
.bind .auth_input{
    width: 30%;
}
.bind .auth_code_img{
    display: inline-block;
    vertical-align: top;
    width: 45%;
}
.bind .auth_code_img img{
    height: 38px;
    padding-left: 5px;
    vertical-align: top;
    cursor: pointer;
    width: 60%;
}
.bind #auth_loading{
    display: none;
    float: right;
}
.bind #auth_loading img{
    width: 16px;
    padding-left: 2px;
}

.bind .bind_user table b{
    vertical-align: middle;
}

.bind .button_xun{
    background-image: url("/t/colorful/submit.png");
    display: block;
    height: 57px;
    width: 156px;
    text-decoration: none;
}
.bind .button_xun:hover{
    background-image: url("/t/colorful/submit.png");
    background-position: 0 -57px;
    display: block;
    height: 57px;
    width: 156px;
}
.bind .login_submit{
    text-align: left;
}
.login_submit_div{
    padding: 20px 20px 20px 0;
}
.error_div{
    padding-top: 5px;
}
.error_label{
    color: #EF2540;
}
.login_body{
    background-color: #A3C43F;
}

/*=======消息模块===============*/
#message_inputs{
    mix-width: 180px;
    width: 80%;
    background-color: white;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px 4px 4px 4px;
    max-height: 250px;
    min-height: 30px;
    float: left;
    overflow: auto;
}
#message_title,#message_content,#message_send_date,#message_kindergarten_label,#message_sender{
    mix-width: 180px;
    width: 80%;
}
#message_content{
    height: 100px;
}
#numtj{
    font-size: 14px;
}
#show_message_entry{
    color: blue;
}
#show_entry_div{
    display: none;
    background-color: #d9edfa;
    float: left;
}
#show_entry_div .message_user{
    float: left;
    width: 48%;
}
#show_entry_div .bold_head{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    float: left;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #B6B6B6;
}
#show_entry_div .bold_link{
    color: #B6B6B6;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    float: left;
}
/*======发件人选名单==============*/
#message_inputs label{
    width: 80%;
    float: left;
    padding-top: 5px;
    padding-left: 10px;
    color: #008FDC;
}
#message_inputs .message_user label{
    width: 100%;
    color: #2c2c2c;
}
#message_inputs .message_user:hover{
    background-color: #F7A200;
}
#message_inputs .message_user{
    float: left;
    width: 40%;
    padding-bottom: 2px;
    padding-top: 2px;
}
#change_users,#change_users:hover{
    color:#008FDC;
    float: left;
}
#new_message input{
    padding-left: 5px;
}
.has-btn-new {
  color: #fff;
  width: 84%;
  margin:10px;
}
.ui-dialog-title{
    font-size: 20px;
}
.tab .show_users_data{
    float: right;
    font-size: 16px;
    padding-right: 10px;
    padding-top: 6px;
}
.tab .show_users_data label{
    text-decoration: underline;
    color: #008FDC;
}
.tab .show_users_data label i{
    margin-top: 4px;
}
.tab .squad_users_div{
    display: none;
}
.tab .ranges_resource_div{
    display: none;
}
.tab .gray{
    background-color: #CCCCCC;
}
.tab .light_gray{
    background-color: #EFEBE3;
}
#change_users{
    color: #008FDC;
}
.ranges_resource{
    display: none;
    width: 100%;
    float: left;
}
.tab .checkall{
    float: left;
    width: 100%;
}
.tab .checkall_div{
    float: left;
    padding: 6px;
    /*    width: 147px;*/
}
.tab{ width: 100%;float: left;}
.tab-hd { background:#F0EBE2; overflow:hidden; zoom:1;
          border: 1px solid #DDDDDD;
          width: 100%;
}
.tab-hd li{ color: #4C4C4C;
            cursor: pointer;
            float: left;
            padding: 0 5px;
            text-align: center;
            height: 35px;
            line-height: 35px;
            font-size: 20px;
}
.ui-dialog .ui-dialog-content{
    padding: 0.5em 0.1em;
}
.ui-dialog-content ul{
    padding: 0px;
    margin: 0px;
}
.ui-widget .ui-dialog-buttonset button{
    font-size: 14px;
}
.tab-hd li.active{ background:#D6D6D6;}
.tab-bd li{display:none;  border:1px solid #ddd; border-top:0 none; font-size:24px;float: left; width: 100%;}
.tab .tab-bd{
}
.tab .check_rangs,.tab .check_grades{
    float: left;
    padding: 6px;
    width: 147px;
}
.tab .rangs_tag{
    width: 100%;
    float: left;
}
.tab .check_rangs input,.tab .check_grades input,.tab .checkall input,.tab .checkall label,.tab .check_rangs label,.tab .check_grades label{
    float: left;
}
ul, li {
    list-style-type: none;
}
.message_form{
    padding-left: 2px;
}
.message_div{
    background-color: #FFFFFF;
    margin-bottom: 10px;
}
.message_div > .message_title{
    background-image: url("/t/colorful/title_bg.png");
    color: #FFFFFF;
    padding: 10px 10px 10px 2px;
}
.message_div .message_filter{
    background-image: url("/t/colorful/weixin_bg0.png");
    background-repeat: repeat-x;
    background-position: 0 bottom;
    height: 52px;
}
.message_div .message_filter select{
    margin-left: 10px;
    margin-top: 10px;
    width: auto;
}
.message_div .message_list .data_list li{
    border: 1px solid #CBCBCB;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    border-radius:5px;
}
.message_div .message_list .data_list li:hover{
    border: 1px solid #80C2DB;
    background-color: #EBFCFB;
}
.message_div .message_list li a{
    text-decoration: none;
}
.message_div .message_list ul{
    padding: 0px;
    margin: 0px;
}
.message_div .message_list .data_list li .message_user{
    float: left;
    padding-top: 5px;
    text-align: left;
    vertical-align: top;
    width: 48%;
    color: #485154;
}
.message_div .message_list .data_list li .message_time{
    display: inline-block;
    padding-top: 5px;
    text-align: right;
    width: 50%;
    color: #787b80;
}
.message_div .message_list .data_list li .right_message_time{
    display: inline-block;
    padding-top: 5px;
    padding-right: 3px;
    float: right;
    color: #787b80;
}
.message_div .message_list .data_list li .message_content{
    padding: 5px;
    word-wrap: break-word;
    color: #485154;
    line-height: 27px;
}
.message_div .message_more{
    background-image: url("/t/colorful/weixin_bg1.png");
    background-position: 0 -38px;
    background-repeat: repeat-x;
    height: 55px;
    position: relative;
}
.message_div .message_more label{
    padding: 15px 10px 10px;
}
.message_div #message_more{
    text-decoration: none;
    color: #494542;
}
.message_div #message_more:hover,.message_div #message_more:focus{
    color: #494542;
}
.new_message{
    border-radius: 5px 5px 5px 5px;
    color: white;
    float: right;
    font-size: 12px;
    margin-left: 5px;
    margin-top: -2px;
    padding: 2px 5px 5px;
    text-align: center;
    text-decoration: none;
}
.new_message:hover,.new_message:focus{
    color: white;
}
.show_title{
    background-color: #EBF7FC;
    border-bottom: 2px #8ED2FC solid;
}
.message_title a.weixin_return{
    background-image: url("/t/colorful/weixin_back.png");
    color: white;
    float: left;
    font-size: 16px;
    height: 31px;
    line-height: 28px;
    margin-top: -3px;
    text-align: center;
    text-decoration: none;
    width: 52px;
}
.show_title .user_list{
    padding: 5px 5px 5px 10px;
    font-weight: bold;
}
.show_title .message_user_list{
    border: 1px solid #D5D5D5;
    display: inline-block;
    max-height: 100px;
    overflow: auto;
    width: 80%;
}
.show_title  .message_user_list li{
    float: left;
    padding: 5px 0;
    width: 50%;
}
.show_title .title{
    padding: 5px 5px 5px 10px;
    font-weight: bold;
}
.show_title .limit_title{
    padding: 5px 5px 5px 10px;
}
.message_list label.message_content{
    padding: 15px 5px 5px 10px;
    margin-bottom: 25px;
    word-wrap: break-word;
    line-height: 27px;
}

.data_list div.center{
    text-align: center;
    margin-top: 5px;
}
.data_list p{
    margin: 0px;
}
.data_list a{
    color: #485154;
    text-decoration: none;
}

.return_div{
    background-color: #F4F4F4;
    position: relative;
    border-top: 1px #D5D5D5 solid;
}
.return_div .swoosh{
    background-image: url("/t/colorful/weixin_icon.png");
    background-position: -10px 405px;
    height: 25px;
    left: 30%;
    position: absolute;
    top: -24px;
    width: 30px;
}
.return_li{
    background-color: #D5D5D5;
}
.return_div label{
    padding: 15px 5px 5px 10px;
    font-weight: bold;
}
.return_div .return_text{
    padding: 10px;
}
.return_div .return_input{
    width: 60%;
}
.return_div .return_submit{
    background-image: url("/t/colorful/weixin_icon.png");
    background-position: -240px 465px;
    border: medium none;
    color: white;
    height: 50px;
    width: 60px;
}
.paginate_div{
    text-align: center;
}
.paginate_div .pagination {
    margin: 0px;
    padding-top: 12px;
}
.paginate_div .pagination a{
    color: #787b80;
}
.pagination ul > li > a, .pagination ul > li > span{
    padding: 6px 4px;
}


/*========================= 贴子 =================*/

.message_div .message_list .data_list .new_topic {
    display: block;
    margin: 5px;
    margin-top: 20px;
    color: white;
    height: 50px;
    line-height: 50px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    background: #A4C400;
    position: relative;
}
.message_div .message_list .data_list ul.topic_replies {
    padding: 10px 12px 12px 12px;
    background-color: #DBEEFD;
}
.message_div .message_list .data_list ul.topic_replies li {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: 1px #008fdc solid;
    padding: 20px;
    width: 80%;
}

.field_prompt {
    color: #008fdc;
    font-size: 20px;
}

.field {
    margin-bottom: 20px;
}

.form {
    padding: 10px 20px 20px;
}
.select {
    height: 50px;
    padding-top: 10px;
    font-size: 22px;
    width: 70%;
}
#topic_search .select {
    width: 70%;
    margin-top: 20px;
}
.form .field .text-content {
    height: 40px;
    line-height: 40px;
    width: 80%;
    font-size: 20px;
}

.form .field .text-area {
    width: 90%;
    font-size: 20px;
    height: 150px;
}

/*===========老师信息==========*/
.menu_one_info{
    padding: 10px;
}
.menu_one_ul{
    list-style: none;
    background-color: white;
    margin: 0px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #BFBEB4;
}
.menu_one_ul li{
    padding: 8px;
    border-bottom: 1px solid #BFBEB4;
    position: relative;
}
.user_logo img{

}
.li_title{
    position: relative;
}
.li_child{
    background-color: #E9E9E9;
}
.bottom_dotted{
    border-bottom: 1px dotted #8C8C8C;
}
.bottom_dotted:last-child{
    border-bottom: 0px;
}
.help {
    color: red;
    font-size: 20px;
}
span.help-inline {
    color: red;
    font-size: 20px;
}
.li_child{
    display: none;
}


/*============成长记录===============*/

.show {
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
li.replies_count {
    color: #000;
}
.reply_count {
    right: 10px;
    bottom: 3px;
    background-color: #008fdc;
    color: white;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
}
.show .info {
    padding: 10px;
    padding-top: 0;
    word-wrap: break-word;
}

.show .info .author {
    color: #008fdc;
}

.show .title {
    padding: 10px;
    color: #008fdc;
}

.show .title .name {
    font-weight: normal;
    font-size: 27px;
}

.show .content {
    padding-top: 15px;
    text-indent: 20px;
    line-height: 20px;
    word-break:break-all;
}

.show .content p.note {
    word-break:break-word;
    color: #797979;
}

/*==================活动=====================*/
.activity_content_logo {
    padding-left: 10px;
}
.activity_content_logo img {
    max-width: none;
    width: 80%;
}

/*=================kindeditor================*/

.ke-dialog-body label {
    font-size: 14px;
}

/*=================活动show页面==================*/

#topic_category_tabs {
    padding-left: 50px;
    padding-top: 10px;
}
#topic_category_tabs a {
    color: #333333;
    font-size: 16px;
}
/*===========回复=======*/
.comment_submit{
    padding: 5px;
}
.comment_submit .total{
    padding: 5px 5px 10px;
}
.show_entry {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #DDD;
    padding: 10px 0 10px 0;
}
.normal_link {
    color: #B6B6B6;
}
.bold_link {
    font-weight: bold;
    color: #000;
}
.show_entry:last-child {
    border-bottom: none;
}
.show_entry .content_left {
    float: left;
    width: 20%;
}
.show_entry .content_right {
    float :left;
    width: 80%;
}
.show_entry .user_head_logo {
    width: 100%;
}

.show_entry .info .author {
    font-weight: bold;
}

.show_entry .content {
    word_wrap: break-word;
}
#load_read_users{
    display: inline;
}
#load_read_users .total{
    padding: 6px;
}
.show_read_users{
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.show_read_users li{
    float: left;
    width: 50%;
    padding-bottom: 6px;
}
.show_read_users li span{
    padding-left: 6px;
}
/*=======成长记录==============*/

.message_div .message_list .data_list ul.rater-star li {
  border: none;
  padding: 0;
  margin: 0;
}

table.attributes {
  width: 100%;
}

table.attributes th {
    background-color: #DBDBDB;
    width: 80px;
    font-weight: normal;
    border-bottom: 1px dotted #948A8A;
}
table.attributes tr {
  height: 30px;
  line-height: 30px;
}

table.attributes td {
    text-align: left;
    text-indent: 10px;
    background-color: #F5F5F5;
    border-bottom: 1px dotted #DBDBDB;
}


#kind_name span {
    padding-left: 5px;
}
/* ====================== ajax loading ===================== */

#remote-loader {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  width: 80px;
  text-align: center;

}

#remote-loader .label.important {
    cursor: pointer;
}
