/*
 *= require jquery.ui.all
*/
#user_show_dialog{
    width: 80px;
    height: 30px;
}
a:hover{
    color:white;
    text-decoration:none;
}
.new_form{
    background-color: #FBFBFB;
    border: 1px solid #E3E3E3;
    margin-top: 48px;
    padding: 40px;
    position: relative;
}
.official_new_title{
    padding-top: 15px;
    position: relative;
}
.official_new_img{
     background-image: url("/t/colorful/title.png");
    background-position: -320px -10px;
    background-repeat: no-repeat;
    height: 100px;
    left: 280px;
    position: absolute;
    top: -50px;
    width: 420px;
    z-index: 100;
}
.official_admiss_info_img{
    background-image: url("/t/colorful/title.png");
    background-position: -320px -220px;
    background-repeat: no-repeat;
    height: 100px;
    left: 230px;
    position: absolute;
    top: -5px;
    width: 475px;
    z-index: 100; 
}
.official_feature_img{
    background-image: url("/t/colorful/title.png");
    background-position: -320px -110px;
    background-repeat: no-repeat;
    height: 100px;
    left: 250px;
    position: absolute;
    top: -5px;
    width: 420px;
    z-index: 100;
}
.official_contact_img{
    background-image: url("/t/colorful/title.png");
    background-position: -320px -330px;
    background-repeat: no-repeat;
    height: 100px;
    left: 240px;
    position: absolute;
    top: -5px;
    width: 450px;
    z-index: 100;
}
.official_new_line{
    border: 2px solid #E3E3E3;
    margin-top: 15px;
}
.form-horizontal .control-label_left {
    float: left;
    padding-top: 5px;
    padding-left: 20px;
    width: 160px;
    font-weight:bold;
}
.official_new_dotted_line{
    border: 1px dotted #E3E3E3;
    margin-top: 15px;
    margin-bottom:15px; 
}
.new_more_button{
    float:right;
}
.official_new_solid_line{
    border: 1px solid #E3E3E3;
    margin-top: 15px;
}
.form-horizontal .table_controls {
    float: left;
    margin-left: 180px;
}
.official_new_list_solid_line{
    border: 1px solid #E3E3E3;
    margin-top: 15px;
    margin-bottom: 15px;
}
.official_home_img img{
/*    height: 370px;*/
}
.official_right_work{
    float: right;
    width: 396px;
    margin-top: 35px;
}
.official_home_teacher_img img{
    border: 0 none;
    height: 100px;
    vertical-align: middle;
    max-width: 200%;
}
.form-horizontal .control-label_right {
    float: right;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
    width: 160px;
}
.class_middle_bottom_image img {
    border: 0 none;
    vertical-align: middle;
    max-width: 200%; 
}
.box_feat_img img{
    border: 0 none;
    max-width: 300px;
    vertical-align: middle;
}
.show_menu_center{
    position: relative;
}
body{
    padding-top:5px;
}
.control-label_left a{
    color:black;
}
ul li a:hover{
    color:white;
    text-decoration:none;
}
.control-label_left a:hover{
    text-decoration:-moz-anchor-decoration;
}
.official_font a:hover{
    text-decoration:-moz-anchor-decoration;
}
.time_control{
    float:left;width:500px;
}
.time_control_title{float: left;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
    width: 160px;
}
.show_count_time{
float:right;width:300px
}
.content a{
    color: blue;
}
.show_label a{
    color: blue;
}
.teacher_content{
    padding-right: 5px;
}



.floatingAd .ad{
	z-index: 100;
	background: none;
	position: absolute;
	display: none;
}
.floatingAd a{
	color:#000000;
	display: inline-block;
	text-decoration: none;
}
.floatingAd a img{
	border: 0;
}
.floatingAd .close_div{
	display: none;
}
.floatingAd .opacity{
	position: absolute;
	top: 100px;
	width: 100%;
	height: 25px;
	background-color: #000000;
	opacity: 0.20;
	filter: alpha(opacity = 20);
}
.opacity1{
	opacity: 0.90;
	filter: alpha(opacity = 90);
}
.floatingAd .text{
	position: absolute;
	top: 100px;
	width: 100%;
	height: 25px;
	color: #000000;
	line-height: 25px;
}
.floatingAd .text .button{
	position: relative;
	float: right;
	top: 5px;
	right: 5px;
	width: 16px;
	height: 16px;
	background: url("/star_imgs/close.png") no-repeat;
	cursor: pointer;
}
.floatingAd .text .title{
	position: relative;
	float: left;
	font-size: 12px;
	margin-left: 5px;
}
.main_link{
    color: #6E86CD;
}
a.main_link:hover{
    color: #005580;
}
.home_bg {
    background: url("/t/flowers/home_bg.png") no-repeat;
    background-position: -20px top;
}