#page div#page {
    width: 100%;
/*    background-color: #fff;*/
    margin: 0 auto;
    text-align: left;
/*    border-color: #ddd;
    border-style: none solid solid;
    border-width: medium 1px 1px;*/
}
#page div#container {
    padding: 5px;
}
#page div#ads {
    clear: both;
    padding: 12px 0 12px 66px;
}
#page div#footer {
    clear: both;
    color: #777;
    margin: 0 auto;
    padding: 20px 0 40px;
    text-align: center;
}
#page div.content {
    /* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
    display: none;
    float: right;
    width: 490px;
}
#page div.content a, div.navigation a {
    text-decoration: none;
    color: #777;
}
#page div.content a:focus, div.content a:hover, div.content a:active {
    text-decoration: underline;
}
#page div.controls {
    margin-top: 5px;
    height: 23px;
}
#page div.controls a {
    padding: 5px;
}
#page div.ss-controls {
    float: left;
}
#page div.nav-controls {
    float: right;
}
#page div.slideshow-container {
    position: relative;
    clear: both;
    height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
}
#page div.loader {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/star_imgs/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 490px;
    height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
}
#page div.slideshow {

}
#page div.slideshow span.image-wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
#page div.slideshow a.advance-link {
    display: block;
    width: 490px;
    height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
    line-height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
    text-align: center;
}
#page div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
    text-decoration: none;
}
#page div.slideshow img {
    vertical-align: middle;
    border: 1px solid #ccc;
}
#page div.download {
    float: right;
}
#page div.caption-container {
    position: relative;
    clear: left;
    height: 75px;
}
#page span.image-caption {
    display: block;
    position: absolute;
    width: 490px;
    top: 0;
    left: 0;
}
#page div.caption {
    padding: 12px;
}
#page div.image-title {
    font-weight: bold;
    font-size: 1.4em;
}
#page div.image-desc {
    line-height: 1.3em;
    padding-top: 12px;
}
#page div.navigation {
    /* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
#page ul.thumbs {
    clear: both;
    margin: 0;
    padding: 0;
}
#page ul.thumbs li {
    float: left;
    padding: 0;
    margin: 5px 10px 5px 0;
    list-style: none;
}
#page a.thumb {
    padding: 2px;
    display: block;
    border: 1px solid #ccc;
}
#page ul.thumbs li.selected a.thumb {
    background: #000;
}
#page a.thumb:focus {
    outline: none;
}
#page ul.thumbs img {
    border: none;
    display: block;
    height: 75px;
    width: 75px;
}
#page div.pagination {
    clear: both;
}
#page div.navigation div.top {
    margin-bottom: 12px;
    height: 11px;
}
#page div.navigation div.bottom {
    margin-top: 12px;
}
#page div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
    display: block;
    float: left;
    margin-right: 2px;
    padding: 4px 7px 2px 7px;
    border: 1px solid #ccc;
}
#page div.pagination a:hover {
    background-color: #eee;
    text-decoration: none;
}
#page div.pagination span.current {
    font-weight: bold;
    background-color: #000;
    border-color: #000;
    color: #fff;
}
#page div.pagination span.ellipsis {
    border: none;
    padding: 5px 0 3px 2px;
}
