/*
 *= require jquery.ui.all
*/
*{margin: 0}
body{
    background: #90b816 ;
    height:1300px;
    /*margin:0 auto*/
}
.top_background{
    background:url(/star_imgs/shop/center_user/bg_top.png)  repeat-x  ;
    height: 55px;
    margin-top: -60px;
    padding-bottom: 50px;
}
.center_user_work{
    width: 1070px;
    padding-top: 100px;
}
.center_user_conment{
    background:url(/star_imgs/shop/center_user/center_bg_top2.png)  ;
    background-repeat: no-repeat;
    height: 100px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 5px;
    margin-top: -1px;
}
.center_user_conment_mid{
    background:url(/star_imgs/shop/center_user/bg_mid.png)  repeat-y  ;
    /*    height: 1000px;*/
    _height:500px;
    min-height: 500px;
}
.center_user_conment_bottom{
    background:url(/star_imgs/shop/center_user/bg_bottom.png) ;
    background-repeat: no-repeat;
    height: 195px;
    margin-top: -1px;
}
.center_conment_left{
    background:url(/star_imgs/shop/center_user/center_bg_top1.png) ;
    background-repeat: no-repeat;
    height: 70px;
    width: 230px;
    font-size: 26px;
    color: #8d490b ;
    line-height: 80px;
    padding-left: 30px;
}
.center_conment_mid{
    background:url(/star_imgs/shop/center_user/center_conment_mid.png) ;
    background-repeat: repeat-y;
    height: 400px;
    width: 230px;
    padding-left: 30px;
    position: relative;
    z-index: 100;
}
.center_conment_bottom{
    background:url(/star_imgs/shop/center_user/center_conment_bottom.png) ;
    background-repeat: no-repeat;
    height: 65px;
    width: 230px;
    position: relative;
    z-index: 100;
}
.center_left{
    float: left;
    height: 700px;
    width: 230px;
}
.center_right{
    float: right;
    width: 780px;
}
.center_conment_right{
    background:url(/star_imgs/shop/center_user/center_conment_right_top.png) ;
    background-repeat: no-repeat;
    height: 85px;
    width: 100%;
}
.center_conment_right_mid{
    background:url(/star_imgs/shop/center_user/center_conment_right_mid.png) ;
    background-repeat: repeat-y;
    height: 80px;
    width: 100%;
}
.center_conment_right_bottom{
    background:url(/star_imgs/shop/center_user/center_conment_right_bottom.png) ;
    background-repeat: no-repeat;
    height: 85px;
    width: 100%;
    margin-top: -1px;
}
.center_right_bottom_mid{
    background:url(/star_imgs/shop/center_user/center_conment_right_mid.png) ;
    background-repeat: repeat-y;
    height: 500px;
    width: 100%;
    margin-top: -1px;
}

.center_conment_mid ul li {
    line-height: 40px;
}
.my_credit_a{
    color: #FFFFFF;
    margin: 0 auto ;
}
.question_li ul li{
    line-height: 30px;
}
.question_li ul li a{
    color: #794917;
}
.center_conment_mid ul li a{
    padding-left: 30px;
    font-size: 16px;
    color: #794917;
}
.question_li ul li a{
    padding-left: 0px;
    font-size: 16px;
    color: #794917;

}
table.cart_data{
    width: 770px;
    margin: 0 auto;
}
table .carttitle{
    background-color: #F9EBCB;
}
.thbrank{
    border-top: 6px solid #5C3200;
}
td.pay_credit{
    color: #289424;
}
#cartmenu {
    background-color: #F1F1F1;
    width: 770px;
    margin: 0 auto;
}
.my_credit_a{
    color: #FFFFFF;
}
.my_credit_show{
    background:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -0px -575px;
    color: #FFFFFF;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    width: 180px;
}
.go_shop{
    float: left;
    width: 100%;
    text-align: right;
}
.go_shop a{
    padding-right: 20px;
    color: red;
}
.question_img{
    background:url(/star_imgs/shop/center_user/question_img.png) ;
    background-repeat: no-repeat;
    height: 120px;
    width: 170px;
}
.credit_title{
    color:#dd1f1d;
    font-size:31px;
    line-height:80px;
    padding-left: 30px;
}
.credit_user{
    position: relative;
    z-index: 100px;
    padding-left: 10px;
}
.credit_user ul li {
    border-right: 1px dotted #000000;
    float:left;
    width:340px;
    height: 100px;

}
.credit_user ul li:last-child {
    border: medium none;
}
.user_credit_show{
    background:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -200px -10px;
    height: 30px;
    width: 30px;
    float: left;
}
.user_credit_v {
    line-height: 30px;
    margin: 0 auto;
    width: 120px;
}
.credit_buttom:hover{
    background-image:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -132px -465px;
    height: 48px;
    width: 130px;
    color: #fff;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    display: block;

}
.credit_buttom{
    background-image:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -132px -512px;
    height: 48px;
    width: 130px;
    color: #fff;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    display: block;
}
.credit_details_info{
    background-image:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -2px -244px;
    display: block;
    height: 48px;
    width: 132px;
    float: left;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.credit_details_info:hover{
    background-image:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -2px -294px;
    display: block;
    height: 48px;
    width: 132px;
    float: left;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.earn_record{
    background-image:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -135px -244px;
    display: block;
    float: left;
    height: 48px;
    width: 132px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.earn_record:hover{
    background-image:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -135px -294px;
    display: block;
    float: left;
    height: 48px;
    width: 132px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.use_record{
    background-image:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -268px -244px;
    display: block;
    float: left;
    height: 48px;
    width: 132px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.use_record:hover{
    background-image:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -268px -294px;
    display: block;
    float: left;
    height: 48px;
    width: 132px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.credit_details{
    margin: 0 auto;
    width: 770px;
}
.center_product_right {
    float: right;
}
.center_product_left{
    float: left;
    width: 780px;
}

.all_product_title{
    padding-top: 20px;
    padding-left: 20px;
    width: 200px;
    height: 50px;
}
.all_product_round{
    background-image:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -278px -13px;
    float: left;
    height: 20px;
    width: 20px;
}
.all_product_text{
    color: #DD1F1D;
    font-size: 31px;
}
.sort_by_default{
    background-image:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: 0 -0px;
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 138px;
    font-size: 23px;
    color: #686868;
    float: left;
}
.sort_by_default:hover{
    background-image:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: 0 -45px;
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 138px;
    font-size: 23px;
    color: #fff;
    float: left;
}
.product_list_top{
    background:url(/star_imgs/shop/center_user/product_list_top.png) ;
    background-repeat: no-repeat;
    height: 215px;
    width: 780px;
}

.product_list{
    padding-top: 30px;
    padding-left: 20px;
}
.product_list_mid{
    background:url(/star_imgs/shop/center_user/product_list_mid.png) ;
    background-repeat: no-repeat;
    height: 225px;
    width: 780px;
}
.product_list_bottom{
    background:url(/star_imgs/shop/center_user/product_list_bottom.png) ;
    background-repeat: no-repeat;
    height: 230px;
    width: 780px;
}
.product_list_top ul {
    padding-left: 35px;
    padding-top: 16px;
}
.product_list_mid ul {
    padding-left: 35px;
    padding-top: 26px;
}
.product_list_bottom ul {
    padding-left: 35px;
    padding-top: 27px;
}
.product_list ul li {
    float: left;
    width: 235px;
}
td.check label,td.check input{
    padding: 0px;
    float: left;
    margin-right: 2px;
}
.check_count,.check_credit{
    color: red;
}
.div_left{
    float: left;
    margin-left: 5px;
}

/* ¿?¿?¿?¿?¿? */

.show_product .bg-top {
  background: url(/star_imgs/shop/center_user/center_bg_top2.png) top no-repeat;
  height: 40px;
  padding: 30px 10px 0 40px;
  font-size: 2em;
  color: #DE1F15;
}

.show_product .bg-middle {
  background: url(/star_imgs/shop/center_user/bg_mid.png) repeat-y;
  margin-left: 7px;
  height: 100%;
}

.show_product .bg-middle .left {
  background: white;
  margin-left: 30px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 15px;
}

.show_product .bg-bottom {
  background: url(/star_imgs/shop/center_user/bg_bottom.png) bottom no-repeat;
  height: 40px;
}

#show_product {
  clear: both;
  margin-top: 85px;
}

#show_product .left {
  width: 65%;
}

#show_product .right {
  width: 227px;
  display: inline-block;
}

.show_product .media img {
  width: 176px;
  height: 164px;
}
.show_product .media .product_bg {
  background: url(/star_imgs/shop/product_bg.png) no-repeat;
  height: 202px;
  padding: 15px;
  width: 233px;
}

.show_product .media h4 {
  color: #000;
  font-size: 14px;
  font-weight: normal;
}

.show_product h4.media-credit {
  font-size: 12px;
}

.show_product h4.media-credit .strong-font {
  font-size: 21px;
  color: #ff0000;
}
.show_product h4.media-credit .large { font-size: 21px; }
.show_product h4.media-price {
  font-size: 12px;
  color: #747474;
}

.show_product h4.media-count {
  font-size: 12px;
  color: #000000;
}

.btn-shop {
  width: 150px;
  height: 55px;
  line-height: 55px;
  font-size: 15px;
  color: #fff;
  display: inline-block;
  text-align: center;
}

.show_product .btn-change {
  background: url("/star_imgs/shop/center_user/button_center.png") no-repeat 0 -350px;
}

.show_product .btn-change:hover {
  /*background: url("/star_imgs/shop/center_user/button_center.png") no-repeat 0 -403px;*/
  color: #fff;
  text-decoration: underline;
}

.show_product .btn-card {
  background: url("/star_imgs/shop/center_user/button_center.png") no-repeat -160px -350px;
}

.show_product .btn-card:hover {
  /*background: url("/star_imgs/shop/center_user/button_center.png") no-repeat -160px -403px;*/
  color: #fff;
  text-decoration: underline;
}

.show_product .product-detail h4 {
  font-size: 18px;
  color: #5b5b5b;
  border-bottom: 1px solid #999;
  padding-bottom: 8px;
}
.show_product .product-detail h3 {
  font-size: 18px;
  color: #5b5b5b;
  border-bottom: 1px solid #999;
}

.show_product .product-detail .detail-content {
  font-size: 12px;
  color: #646464;
  min-height: 60px;
}
.show_product .product-detail .detail-content img {
  border: none;
  margin-right: 10px;
}

.show_product .product-detail .detail-content .feedback {
  width: 95%;
  height: 100px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: 14px;
  color: #646464;
  padding: 15px;
  background: #eee;
}

.show_product .btn-feedback {
  background: url("/star_imgs/shop/center_user/button_center.png") no-repeat 0 -468px;
  width: 127px;
  height: 42px;
  line-height: 42px;
  border: none;
}
.show_product .btn-feedback:hover {
  color: #fff;
  text-decoration: underline;
}

.show-feedback {
  margin-bottom: 20px;
}
.show_product .bg-middle .left .product-detail .detail-content .img-text {
  text-align: center;
  width: 140px;
}
.show_product .bg-middle .left .product-detail .detail-content .merchant-img {
  height: 140px;
  width: 140px;
}

.show-feedback .feedback-content {
  text-indent: 20px;
  color: #000;
  font-size: 12px;
}

.show-feedback .feedback-info {
  background: #fff;
  border: 1px solid #eee;
  height: 30px;
  line-height: 30px;
  padding: 5px 10px 5px 10px;
  color: #646464;
  font-size: 12px;
}

.show_product .bg-middle .right {
  margin-left: 20px;
  color: #7A4B1A;
}

.show_product .bg-middle .right a {
  color: #7A4B1A;
  font-size: 14px;
}

.show_product .bg-middle .right a:hover {
  text-decoration: underline;
}

.show_product .credit {
  color: #5FBF74;
  font-size: 20px;
}


.show_product .btn-show-card {
  background: url("/star_imgs/shop/center_user/button_center.png") no-repeat 0 -100px;
  color: #fff;
  width: 200px;
  height: 68px;
  line-height: 68px;
}

.show_product .sidebar-top {
  background: url("/star_imgs/shop/center_user/center_bg_top1.png") no-repeat;
  height: 27px;
}

.show_product .sidebar-middle {
  background: url("/star_imgs/shop/center_user/center_conment_mid.png") repeat-y;
  padding-left: 25px;
  height: 100%;
}

.show_product .sidebar-bottom {
  background: url("/star_imgs/shop/center_user/center_conment_bottom.png") no-repeat;
  height: 60px;
}
