/*
 *= require jquery.ui.all
*/
*{margin: 0}
body{
    background: #90b816 ;
    height:1300px;
    /*margin:0 auto*/
}
.top_background{
    background:url(/star_imgs/shop/center_user/bg_top.png)  repeat-x  ;
    height: 55px;
    margin-top: -60px;
    padding-bottom: 50px;
}
.center_user_work{
    width: 1070px;
    padding-top: 100px;
}
.center_user_conment{
    background:url(/star_imgs/shop/center_user/center_bg_top2.png)  ;
    background-repeat: no-repeat;
    height: 100px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 5px;

}
.center_user_conment_mid{
    background:url(/star_imgs/shop/center_user/bg_mid.png)  repeat-y  ;
    /*    height: 1000px;*/
    _height:500px;
    min-height: 500px;
}
.center_user_conment_bottom{
    background:url(/star_imgs/shop/center_user/bg_bottom.png) ;
    background-repeat: no-repeat;
    height: 195px;
    margin-top: -1px;
}
.center_conment_left{
    background:url(/star_imgs/shop/center_user/center_bg_top1.png) ;
    background-repeat: no-repeat;
    height: 70px;
    width: 230px;
    font-size: 26px;
    color: #8d490b ;
    line-height: 80px;
    padding-left: 30px;
}
.center_conment_mid{
    background:url(/star_imgs/shop/center_user/center_conment_mid.png) ;
    background-repeat: repeat-y;
    height: 400px;
    width: 230px;
    padding-left: 30px;
    position: relative;
    z-index: 100;
}
.center_conment_bottom{
    background:url(/star_imgs/shop/center_user/center_conment_bottom.png) ;
    background-repeat: no-repeat;
    height: 65px;
    width: 230px;
    position: relative;
    z-index: 100;
}
.center_left{
    float: left;
    height: 700px;
    width: 230px;
}
.center_right{
    float: right;
    width: 780px;
}
.center_conment_right{
    background:url(/star_imgs/shop/center_user/center_conment_right_top.png) ;
    background-repeat: no-repeat;
    height: 85px;
    width: 100%;
}
.center_conment_right_mid{
    background:url(/star_imgs/shop/center_user/center_conment_right_mid.png) ;
    background-repeat: repeat-y;
    height: 80px;
    width: 100%;
}
.center_conment_right_bottom{
    background:url(/star_imgs/shop/center_user/center_conment_right_bottom.png) ;
    background-repeat: no-repeat;
    height: 85px;
    width: 100%;
    margin-top: -1px;
}
.center_right_bottom_mid{
    background:url(/star_imgs/shop/center_user/center_conment_right_mid.png) ;
    background-repeat: repeat-y;
    height: 500px;
    width: 100%;
}

.center_conment_mid ul li {
    line-height: 40px;
}
.my_credit_a{
    color: #FFFFFF;
    margin: 0 auto ;
}
.question_li ul li{
	line-height: 30px;
}
.question_li ul li a{
    color: #794917;
}
.center_conment_mid ul li a{
    padding-left: 30px;
    font-size: 16px;
    color: #794917;
}
.question_li ul li a{
	padding-left: 0px;
	font-size: 16px;
    color: #794917;

}
table.cart_data{
    width: 770px;
    margin: 0 auto;
}
table .carttitle{
    background-color: #F9EBCB;
}
.thbrank{
    border-top: 6px solid #5C3200;
}
td.pay_credit{
    color: #289424;
}
#cartmenu {
    background-color: #F1F1F1;
    width: 770px;
    margin: 0 auto;
}
.my_credit_a{
	color: #FFFFFF;	
}
.my_credit_show{
    background:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -0px -575px;
    color: #FFFFFF;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    width: 180px;
}
.go_shop{
    float: left;
    width: 100%;
    text-align: right;
}
.go_shop a{
    padding-right: 20px;
    color: red;
}
.question_img{
    background:url(/star_imgs/shop/center_user/question_img.png) ;
    background-repeat: no-repeat;
    height: 120px;
    width: 170px;
}
.credit_title{
    color:#dd1f1d;
    font-size:31px;
    line-height:80px;
    padding-left: 30px;
}
.credit_user{
	position: relative;
	z-index: 100px;
	padding-left: 10px;
}
.credit_user ul li {
	border-right: 1px dotted #000000;
	float:left;
	width:340px;
	height: 100px;
	
}
.credit_user ul li:last-child {
    border: medium none;
}
.user_credit_show{
	background:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -200px -10px;
    height: 30px;
    width: 30px;
    float: left;
}
.user_credit_v {
    line-height: 30px;
    margin: 0 auto;
    width: 120px;
}
.credit_buttom{
	background-image:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -132px -462px;
    height: 50px;
    width: 130px;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    display: block;
}
.credit_buttom:hover{
	background-image:url(/star_imgs/shop/center_user/button_center.png) ;
    background-position: -132px -510px;
    height: 50px;
    width: 130px;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    display: block;
}
