/*
 *= require jquery.ui.all
*/
body{
    padding-top:5px;
    background-image: url(/t/smurf/body_bg.png);
    background-repeat: repeat-x;
    background-position: top center;
}
.wrapper{
    background-image: url(/t/smurf/bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 1024px;
}
.home_billboards{
    background-image: url(/t/smurf/home_bg.png);
    background-repeat: no-repeat;
    width: 1024px;
    height: 258px;
    margin: 0 auto;
    margin-top: 40px;
}
.hint{
    background-image: url(/t/smurf/line.png);
    background-repeat: no-repeat;
    width: 900px;
    height: 43px;
    margin: 0 auto;
}
.hint .hint_label{
    padding-left: 15px;
    padding-top: 10px;
    color: #FFF179;
    font-size: 12px;
    float: left;
}
.hint .hint_text{
    padding-left: 5px;
    padding-top: 10px;
    color: #FFFFFF;
    font-size: 12px;
    float: left;
}
.main_work{
    width: 900px;
    margin: 0 auto;
    margin-top: 10px;
}
.home_login{
    width: 235px;
    height: 100px;
}
.smurf_bg_title {
    background-image: url("/t/smurf/smurf.png");
    background-position: 0 -199px;
    background-repeat: no-repeat;
    height: 30px;
    width: 215px;
}
.smurf_bg_title .one{
    padding-left: 15px;
    color: #5D92CC;
    font-size: 12px;
    line-height: 29px;
}
.smurf_bg_title .two{
    color: #164C86;
    padding-left: 0px;
    font-weight: bold;
}
.div_left{
    width: 157px;
    float: left;
    margin-top: 5px;
}
.div_right{
    width: 55px;
    float: left;
    margin-top: 5px;
}
.login_div{
    width: 115px;
    margin-top: 3px;
    margin-left: 10px;
}
.login_div .login_input_one{
    width: 122px;
    height: 12px;
    margin-bottom: 0px;
}
.button_xun{
    background-image: url("/t/smurf/smurf.png");
    background-position: -140px -80px;
    background-repeat: no-repeat;
    height: 52px;
    width: 55px;
    display: block;
    color: #ffffff;
    font-size: 16px;
}
.home_login .div_right a:hover{
    background-position: -140px -133px;
    color: #ffffff;
}
.button_xun div{
    height: 50px;
    line-height: 45px;
    width: 54px;
    text-align: center;
    font-weight: bold;
}
.home_news{
    width: 235px;
}
.smurf_bg_title .one a,.work_right_title a{
    float: right;
}
.smurf_bg_title .one a strong,.work_right_title a strong{
    padding-right: 15px;
    color: #9AB3C9;
}
.home_left{
    width: 235px;
    float: left;
}
.home_right{
    width: 660px;
    float: left;
}
.home_work_center{
    width: 450px;
    float: left;
}
.home_link{
    width: 100%;
    margin-top: 50px;
}
#carousel{
    border: 2px solid #D8E6ED;
    border-radius: 6px;
}
.home_link a.cookbook{
    background-image: url("/t/smurf/link.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    float: left;
}
.home_link a.cookbook:hover{
    background-image: url("/t/smurf/link.png");
    background-position: 0px -76px;
    background-repeat: no-repeat;
}
.home_link a.video{
    background-image: url("/t/smurf/link.png");
    background-position: -85px 0px;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    float: left;
}
.home_link a.video:hover{
    background-image: url("/t/smurf/link.png");
    background-position: -85px -76px;
    background-repeat: no-repeat;
}
.home_link a.my_home{
    background-image: url("/t/smurf/link.png");
    background-position: -170px 0px;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    float: left;
}
.home_link a.my_home:hover{
    background-image: url("/t/smurf/link.png");
    background-position: -170px -76px;
    background-repeat: no-repeat;
}
.home_link a.my_user{
    background-image: url("/t/smurf/link.png");
    background-position: -255px 0px;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    float: left;
}
.home_link a.my_user:hover{
    background-image: url("/t/smurf/link.png");
    background-position: -255px -76px;
    background-repeat: no-repeat;
}
.home_link_div{
    display: none;
    width: 80px;
    font-weight: bold;
    font-size: 16px;
    float: left;
    margin-top: 10px;
}
.home_link_note{
    font-size: 12px;
    color: #9a9aa3;
}
.home_work_right{
    width: 200px;
    float: left;
}
.work_right_title{
    width: 100%;
    font-size: 14px;
    color: #164C86;
}
.work_right_title .tip{
    background-image: url("/t/smurf/smurf.png");
    background-position: -275px 0px;
    background-repeat: no-repeat;
    height: 12px;
    width: 9px;
}
.work_right_notice{
    width: 98%;
    height: 230px;
    border: 2px solid #C6D4DB;
    border-radius: 6px;
}
.work_right_notice ul{
    margin: 3px;
}
.work_right_notice ul li {
    padding: 5px;
}
.work_right_notice li a{
    color: #6388A0;
    font-size: 12px;
}
.work_right_notice li a:hover{
    color: #6388A0;
    text-decoration: -moz-anchor-decoration;
}





#user_show_dialog{
    width: 80px;
    height: 30px;
}
a:hover{
    color: #636363;
    text-decoration:none;
}
.new_form{
    background-color: #FBFBFB;
    border: 2px solid #ACCD93;
    border-radius: 6px;
    margin-top: 42px;
    padding: 40px;
    position: relative;
}
.official_new_title{
    padding-top: 15px;
    position: relative;
}
.official_new_img{
    background-image: url("/t/colorful/title.png");
    background-position: -320px -10px;
    background-repeat: no-repeat;
    height: 100px;
    left: 280px;
    position: absolute;
    top: -50px;
    width: 420px;
    z-index: 100;
}
.official_admiss_info_img{
    background-image: url("/t/colorful/title.png");
    background-position: -320px -220px;
    background-repeat: no-repeat;
    height: 100px;
    left: 230px;
    position: absolute;
    top: -5px;
    width: 475px;
    z-index: 100; 
}
.official_feature_img{
    background-image: url("/t/colorful/title.png");
    background-position: -320px -110px;
    background-repeat: no-repeat;
    height: 100px;
    left: 250px;
    position: absolute;
    top: -5px;
    width: 420px;
    z-index: 100;
}
.official_contact_img{
    background-image: url("/t/colorful/title.png");
    background-position: -320px -330px;
    background-repeat: no-repeat;
    height: 100px;
    left: 240px;
    position: absolute;
    top: -5px;
    width: 450px;
    z-index: 100;
}
.official_new_line{
    border: 2px solid #E3E3E3;
    margin-top: 15px;
}
.form-horizontal .control-label_left {
    float: left;
    padding-top: 5px;
    padding-left: 20px;
    width: 160px;
    font-weight:bold;
}
.official_new_dotted_line{
    border: 1px dotted #E3E3E3;
    margin-top: 15px;
    margin-bottom:15px; 
}
.new_more_button{
    float:right;
}
.official_new_solid_line{
    border: 1px solid #E3E3E3;
    margin-top: 15px;
}
.form-horizontal .table_controls {
    float: left;
    margin-left: 180px;
}
.official_new_list_solid_line{
    border: 1px solid #E3E3E3;
    margin-top: 15px;
    margin-bottom: 15px;
}
.official_home_img img{
    /*    height: 370px;*/
}
.official_right_work{
    float: right;
    width: 396px;
    margin-top: 35px;
}
.official_home_teacher_img img{
    border: 0 none;
    height: 100px;
    vertical-align: middle;
    max-width: 200%;
}
.form-horizontal .control-label_right {
    float: right;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
    width: 160px;
}
.class_middle_bottom_image img {
    border: 0 none;
    vertical-align: middle;
    max-width: 200%; 
}
.box_feat_img img{
    border: 0 none;
    max-width: 300px;
    vertical-align: middle;
}
.show_menu_center{
    position: relative;
}
.control-label_left a{
    color:black;
}
ul li a:hover{
    color:white;
    text-decoration:none;
}
.control-label_left a:hover{
    text-decoration:-moz-anchor-decoration;
}
.official_font a:hover{
    text-decoration:-moz-anchor-decoration;
}
.time_control{
    float:left;width:500px;
}
.time_control_title{float: left;
                    font-weight: bold;
                    padding-left: 20px;
                    padding-top: 5px;
                    width: 160px;
}
.show_count_time{
    float:right;width:300px
}
.content a{
    color: blue;
}
.show_label a{
    color: blue;
}
.teacher_content{
    padding-right: 5px;
}



.floatingAd .ad{
    z-index: 100;
    background: none;
    position: absolute;
    display: none;
}
.floatingAd a{
    color:#000000;
    display: inline-block;
    text-decoration: none;
}
.floatingAd a img{
    border: 0;
}
.floatingAd .close_div{
    display: none;
}

.floatingAd .text{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 25px;
    color: #000000;
    line-height: 25px;
}
.floatingAd .text .button{
    position: relative;
    float: right;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
    background-image: url("/star_imgs/close.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
.floatingAd .text .title{
    position: relative;
    float: left;
    font-size: 12px;
    margin-left: 5px;
}
.main_link{
    color: #6E86CD;
}
a.main_link:hover{
    color: #005580;
}
.home_bg {
    background-image: url("/t/flowers/home_bg.png");
    background-repeat: no-repeat;
    background-position: -20px top;
    min-height: 824px;
}
.home_bg2{
    background-image: url("/t/flowers/home_bg2.png");
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 294px;
}
.contact_title{
    float: left;
    width: 100%;
    margin: 30px;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 5px;
}
.contact_title_form{
    float: left;
    width: 100%;
    margin: 30px 30px 30px 0;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 5px;
}
.contact_title_img{
    background-image: url("/t/flowers/title_img.png");
    background-repeat: no-repeat;
    width: 14px;
    height: 20px;
    float: left;
    margin-right: 5px;
}
.contact_title_label{
    float: left;
    font-size: 21px;
    color: #589f10;
}
.flowers_work{
    margin-top: 208px;
    min-height: 300px;
    _height: 300px;
    overflow:visible;
    _margin-top: 108px;
}
.flowers_food{
    border: 2px solid #E5E8E1;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.contact_us{
    border: 2px solid #ACCD93;
    border-radius: 6px;
}
.menu{
    float: right;
    width: 100%;
}
#main .menu_center{
    float: right;
}
.food_min_div{
    margin-top: 55px;
    float: left;
    width: 100%;
}
.food_max_div{
    float: left;
    width: 100%;
}
.floatingAd .opacity{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 25px;
    background-color: #000000;
    opacity: 0.20;
    filter: alpha(opacity = 20);
}
.opacity1{
    opacity: 0.90;
    filter: alpha(opacity = 90);
}