<div class="show_entry" id="comment_<%= comment.id %>">
  <div class="content_left">
    <% if comment.is_show %>
      <div class="user_head_logo"><img src="<%= comment.try(:user) && comment.user.asset_logo ? comment.user.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="48" alt="头像"/></div>
    <% end %>
  </div>
  <div class="content_right">
    <p class="info"><span><%= level %>楼</span></p>
    <del class="delete">该楼的回复已被删除</del>
  </div>
  <div class="actions">
    <% if comment.is_show %>
      <%= link_to raw("<i class='icon-remove-sign'></i>"),url_for(:controller => "comments", :action=>:virtual_delete,:id=>comment.id, :resource_id => params[:resource_id], :resource_type => params[:resource_type]), :method => :get, :confirm=> "你确定删除该贴子回复吗", :remote=> true %>
    <% end %>
  </div>
</div>
