<% if record = load_comments %>
  <hr />
  <div id="load_comments">
  </div>
  <script type="text/javascript">
    function load_comments(){
      $("#load_comments").load("<%= url_for(:controller=>"/my_school/comments",:action=>:index,:resource_type=>record.class.to_s,:resource_id=>record.id) %>")
    }
    function load_last_comments(){
      $("#load_comments").load("<%= url_for(:controller=>"/my_school/comments",:action=>:index,:resource_type=>record.class.to_s,:resource_id=>record.id,:last=>true) %>")
    }
    function post_comments(){
      var comment_data = $("#comment").val();
      if(comment_data == ""){
        $("#comment").next().show();
      }else{
        $("#comment").next().hide();
        $(this).text("正在提交...");
        $(this).addClass("disabled");
        $.post("<%= url_for(:controller=>"/my_school/comments",:action=>:send_comment,:resource_type=>record.class.to_s,:resource_id=>record.id) %>",
        {comment:comment_data},
        load_last_comments())
      }
    }
    jQuery(function() {
      $(window).load(function(){
        load_comments();
      })

    });
  </script>
<% end %>