<%#= render :partial => "/modules/colorful/show_official_feature" %>
	<div class="feature">
		<% if(root_showcase = @kind.page_contents.find_by_number("official_website_feature")) && !root_showcase.content_entries.blank? %>
		<ul class="feature_list">
			<% root_showcase.content_entries.each do |entry| %>
           <li>
           	<% if entry.page_img %>
              	<div class="box_feat_img">
              		<img src="<%= entry.page_img.public_filename(:middle) %>" alt="" width="300"/>
              	</div>
              	<%end%>
              	<div class="box_feat_info">
              	<div class="box_feat_title">
              		<h3><%= entry.title%></h3>
              	</div>
              	<div class="box_feat_content">
              	<span><%=raw entry.content%></span>
              </div>
             </div>
           </li>
            <%end%>
           <!--  <li>
              	<div class="box_feat_img">
              		<img src="/t/colorful/activity_logo1.jpg" alt="" width="300"   >
              	</div>
              	<div class="box_feat_info">
              	<div class="box_feat_title">
              		<h3>亲子教育</h3>
              	</div>
              	<div class="box_feat_content">
              	<span>亲子教育,专业的早教队伍，专门的中英文老师亲子教育,专业的早教队伍，专门的中英文老师</span>
              </div>
             </div>
           </li> -->
           
		</ul>
		<%end%>
	</div>