<%#= render :partial => "/modules/colorful/show_official_home" %>
<div class="official_home_index">
	<div style="background-color: white; float: left; width: 100%;">
    <div class="official_home_img">
		<img src="/t/colorful/483-5552.jpg" alt="" width="930" height="370"/>
	</div>
	<div class="official_foot">

      <div class="official_home_img_left">
      </div>
      <div class="official_home_img_right">
      </div>
	</div>
 </div>
   <div class="official_home_info">
     <div class = "official_home_news">
     	 <div class="official_home_news_image">
       	 </div>
       	 <div class="official_home_news_content">
       		 <ul class="official_home_news_list">
       		    <li>
       			  <div class="official_square"></div>
       			  <div class="official_font">
                  hello world
       			  </div>
       			  <div class="official_time">
                  2012-12-12
       			  </div>
       		    </li>
       		    <li>
       			  <div class="official_square"></div>
       			  <div class="official_font">
                  hello world
       			  </div>
       			  <div class="official_time">
                  2012-12-12
       			  </div>
       		    </li>
       		    <li>
       			  <div class="official_square"></div>
       			  <div class="official_font">
                  hello world
       			  </div>
       			  <div class="official_time">
                  2012-12-12
       			  </div>
       		    </li>
       		    <li>
       			  <div class="official_square"></div>
       			  <div class="official_font">
                  hello world
       			  </div>
       			  <div class="official_time">
                  2012-12-12
       			  </div>
       		    </li>
       		    <li>
       			  <div class="official_square"></div>
       			  <div class="official_font">
                  hello world
       			  </div>
       			  <div class="official_time">
                  2012-12-12
       			  </div>
       		    </li>
       		    <li>
       			  <div class="official_square"></div>
       			  <div class="official_font">
                  hello world
       			  </div>
       			  <div class="official_time">
                  2012-12-12
       			  </div>
       		    </li>
       		 </ul>
       		 <div class="officail_news_more">
       			<a href="###"><strong>查看更多</strong></a>
       		 </div>
       	 </div>
     </div>
     <div class = "official_home_address">
     	   <div class="official_home_address_image">
       	   </div>
       	   <div class="official_home_news_content">
       		 <div class="official_home_address_info">
                <h3>地址</h3>
                	<div class="official_home_address_line">
                	</div>
                	<span>地址地址地址地址地址地址地址</span>
                <h3>地址</h3>
                	<div class="official_home_address_line">
                	</div>
                	<span>地址地址地址地址地址地址地址</span>
             </div>
             <div class="official_home_address_img">
                  <img src="/t/colorful/483-5552.jpg" alt="" width="320" />
             </div>
       	   </div>
    </div>
    <div class="official_home_teacher">
    	<div class="official_home_teacher_image">
       	</div>
       	<div class="official_home_teacher_info">
    			<ul class="teacher_list">
            <%(@teacher_infos||[]).each do |info|%>
    				 <li>
              	<div class="official_home_teacher_img">
              		<img src="<%=info.page_img.blank? ? '/t/colorful/activity_logo1.jpg' : info.page_img.public_filename %>" alt="" width="200"   >
              	</div>
              	<div class="teacher_info">
              	<div class="teacher_title">
              		<h3><%=info.title%></h3>
              	</div>
              	<div class="teacher_content">
              	<%=raw info.content%>
              </div>
             </div>

           </li>
           <%end%>
    			</ul>
    	</div>
    </div>
  </div>
</div>