<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <%= stylesheet_link_tag    "colorful_main", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <div class="school_logo">
          <img src="/t/colorful/logo.png" width="100" height="79"/>
      </div>
      <div class="wrapper">
      <div class="head">
  <div class="menu">
    <div class="menu_left_top"> </div>
    <div class="menu_left"> </div>
    <div class="menu_right"> </div>
    <div class="menu_right_top"> </div>
    <div class="menu_center">
      <ul>
          <li><a href="###">
           <%=image_tag("Home_03.png",size: "50x50")%>
           <p>首页<p>
          </a>
          </li>
          <li>
            <a href="###">
           <%=image_tag("Home_03.png",size: "50x50")%>
           <p>首页<p>
           </a>
          </li>
          <li>
            <a href="###">
           <%=image_tag("Home_03.png",size: "50x50")%>
           <p>首页<p>
           </a>
          </li>
          <li><a href="###">
           <%=image_tag("Home_03.png",size: "50x50")%>
           <p>首页<p>
           </a>
          </li>
          <li><a href="###">
           <%=image_tag("Home_03.png",size: "50x50")%>
           <p>首页<p>
           </a>
          </li>
      </ul>
    </div>
  </div>
</div>
 <div class="submenu_center">
  <ul class="home">
  <li>  
  </li>
 </ul>
 </div>
 <div class="show_content_page">
  <h2>eeeee</h2>
  <div class="show_menu_center">
  <div class="show_center_left"> </div>
    <div class="show_center_right"> </div>
    <div class="show_center">
    <ul>
      <li>
        <a>校园一角</a>
      </li>
    </ul>
  </div>
  </div>
 </div>
</div>

    </div>
  </body>
</html>
